<a href="https://colab.research.google.com/github/mnocerino23/NBA-Player-Classifier/blob/main/2022_2023_midseasonStats_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load in individual player stats from basketball reference

2022-23 NBA Player Stats Per Game:
 https://www.basketball-reference.com/leagues/NBA_2023_per_game.html


2022-23 NBA Player Advanced Stats: https://www.basketball-reference.com/leagues/NBA_2023_advanced.html

Salary data from Hoopshype: https://hoopshype.com/salaries/players/

In [181]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [182]:
salaries = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/NBA/2022-2023Salaries.csv')
perGame = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/NBA/2022-2023PerGameStats.csv')
advancedStats = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/NBA/2022-2023AdvancedStats.csv')

In [183]:
salaries.columns

Index(['Column1', 'Player', '2022/23', 'Column2', 'Column3', 'Column4',
       'Column5', 'Column6'],
      dtype='object')

In [184]:
#drop empty columns from the 2022-2023 salaries dataset
salaries.drop(columns = ["Column1", "Column2", "Column3", "Column4", "Column5", "Column6"], inplace = True)
salaries

                Player   2022/23
0        Stephen Curry  48070014
1            John Wall  47345760
2    Russell Westbrook  47080179
3         LeBron James  44474988
4         Kevin Durant  44119845
..                 ...       ...
548       Olivier Sarr     90665
549      Stanley Umude     58493
550     Jamaree Bouyea     58493
551         DJ Steward     50000
552      Armoni Brooks     50000

[553 rows x 2 columns]

In [185]:
perGame.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [186]:
perGame.head(15)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,23,TOR,38,11,23.3,3.9,8.1,...,0.689,2.0,4.6,6.6,1.0,0.6,0.7,1.2,2.1,10.2
1,2,Steven Adams,C,29,MEM,42,42,27.0,3.7,6.3,...,0.364,5.1,6.5,11.5,2.3,0.9,1.1,1.9,2.3,8.6
2,3,Bam Adebayo,C,25,MIA,56,56,35.1,8.5,15.7,...,0.799,2.6,7.2,9.9,3.3,1.2,0.8,2.5,2.8,21.4
3,4,Ochai Agbaji,SG,22,UTA,39,2,15.6,1.8,3.8,...,0.682,0.7,1.1,1.8,0.6,0.2,0.1,0.3,1.4,5.0
4,5,Santi Aldama,PF,22,MEM,56,18,22.0,3.3,7.0,...,0.729,1.0,3.6,4.6,1.2,0.7,0.7,0.7,1.9,9.4
5,6,Nickeil Alexander-Walker,SG,24,TOT,40,3,14.5,2.3,4.9,...,0.675,0.3,1.4,1.7,2.0,0.6,0.4,1.2,1.5,6.3
6,6,Nickeil Alexander-Walker,SG,24,UTA,36,3,14.7,2.3,4.7,...,0.692,0.2,1.4,1.6,2.1,0.7,0.4,1.3,1.6,6.3
7,6,Nickeil Alexander-Walker,SG,24,MIN,4,0,13.0,2.5,6.0,...,0.000,0.5,1.5,2.0,0.5,0.3,0.5,1.0,0.8,6.3
8,7,Grayson Allen,SG,27,MIL,56,54,27.6,3.4,7.8,...,0.906,0.9,2.5,3.4,2.4,0.8,0.2,1.1,1.6,10.5
9,8,Jarrett Allen,C,24,CLE,57,57,33.2,6.2,9.4,...,0.733,3.2,6.7,9.9,1.6,0.8,1.2,1.5,2.2,14.8
10,9,Jose Alvarado,PG,24,NOP,60,10,21.6,3.3,8.0,...,0.813,0.4,1.9,2.3,3.1,1.1,0.2,1.3,2.1,9.1
11,10,Kyle Anderson,PF,29,MIN,50,34,26.2,3.2,6.3,...,0.764,0.8,4.1,4.8,4.1,1.1,0.9,1.4,2.1,8.6
12,11,Giannis Antetokounmpo,PF,28,MIL,48,48,32.5,11.1,20.7,...,0.646,2.3,9.7,12.0,5.4,0.8,0.8,3.9,3.3,31.3
13,12,Thanasis Antetokounmpo,SF,30,MIL,26,0,4.1,0.2,0.8,...,0.500,0.3,0.7,1.0,0.2,0.1,0.1,0.3,0.5,0.5
14,13,Cole Anthony,PG,22,ORL,41,3,24.7,4.2,9.5,...,0.890,0.6,4.0,4.6,4.1,0.6,0.6,1.5,2.5,12.0

In [187]:
advancedStats.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'Column1', 'OWS', 'DWS', 'WS', 'WS/48', '2', 'OBPM', 'DBPM', 'BPM',
       'VORP'],
      dtype='object')

In [188]:
#drop repeated columns and change name of games and player columns so that we can double check our join
advancedStats.drop(['Rk', 'Age' ,'Pos', 'Tm', 'MP', 'Column1'], axis = 1, inplace = True)
advancedStats.rename(columns={'G': 'Games'}, inplace = True)
advancedStats.rename(columns={'Player': 'Name'}, inplace = True)

In [189]:
advancedStats.head(15)

,Name,Games,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,...,USG%,OWS,DWS,WS,WS/48,2,OBPM,DBPM,BPM,VORP
0,Precious Achiuwa,38,15.0,0.550,0.251,0.345,9.2,23.9,16.0,6.4,...,19.2,0.6,1.0,1.6,0.089,NaN,-1.6,-0.9,-2.5,-0.1
1,Steven Adams,42,17.6,0.564,0.004,0.490,19.8,25.0,22.4,11.3,...,14.4,1.3,2.2,3.4,0.146,NaN,-0.3,0.9,0.6,0.8
2,Bam Adebayo,56,21.0,0.590,0.014,0.352,8.2,24.9,16.2,16.4,...,25.9,2.9,3.2,6.1,0.150,NaN,1.1,1.0,2.1,2.0
3,Ochai Agbaji,39,9.2,0.614,0.611,0.148,4.9,7.4,6.2,4.8,...,11.8,0.8,0.2,1.0,0.075,NaN,-1.3,-1.3,-2.6,-0.1
4,Santi Aldama,56,14.6,0.599,0.533,0.273,4.9,17.2,11.1,7.4,...,16.0,1.8,2.0,3.7,0.146,NaN,0.1,1.3,1.4,1.0
5,Nickeil Alexander-Walker,40,12.9,0.598,0.500,0.206,1.9,10.6,6.3,18.7,...,18.9,0.3,0.5,0.8,0.067,NaN,-0.7,0.8,0.1,0.3
6,Nickeil Alexander-Walker,36,13.2,0.609,0.512,0.229,1.7,10.4,6.1,20.0,...,18.4,0.4,0.5,0.8,0.077,NaN,-0.5,1.0,0.5,0.3
7,Nickeil Alexander-Walker,4,9.4,0.511,0.417,0.042,4.4,12.6,8.6,5.5,...,23.3,-0.1,0.0,0.0,-0.039,NaN,-2.7,-1.7,-4.4,0.0
8,Grayson Allen,56,12.4,0.614,0.638,0.244,3.3,9.1,6.3,11.7,...,14.8,2.3,1.9,4.2,0.129,NaN,-0.5,0.7,0.1,0.8
9,Jarrett Allen,57,20.2,0.679,0.017,0.355,11.6,23.6,17.7,7.5,...,16.7,4.8,3.3,8.1,0.207,NaN,1.5,0.9,2.4,2.1
10,Jose Alvarado,60,11.9,0.525,0.506,0.166,2.2,9.8,6.0,20.0,...,19.6,0.2,1.5,1.7,0.064,NaN,-1.9,0.5,-1.4,0.2
11,Kyle Anderson,50,14.6,0.593,0.226,0.350,3.4,17.0,10.3,20.5,...,14.1,1.6,1.8,3.4,0.124,NaN,-0.1,2.3,2.2,1.4
12,Giannis Antetokounmpo,48,28.4,0.595,0.142,0.615,7.5,29.9,19.1,31.7,...,39.0,3.5,3.0,6.5,0.200,NaN,5.5,2.6,8.0,4.0
13,Thanasis Antetokounmpo,26,2.2,0.298,0.200,0.400,9.1,16.0,12.7,4.6,...,12.1,-0.3,0.2,-0.1,-0.046,NaN,-8.9,-0.9,-9.7,-0.2
14,Cole Anthony,41,15.9,0.558,0.339,0.303,2.8,18.1,10.5,25.3,...,21.4,1.3,1.1,2.4,0.112,NaN,0.8,0.7,1.5,0.9

In [190]:
advancedStats.shape

(624, 23)

In [191]:
perGame.shape

(624, 30)

In [192]:
#now join together the advancedStats (use an inner join)
combined = pd.concat([perGame, advancedStats], axis=1)

In [193]:
combined.shape

(624, 53)

In [194]:
combined.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,USG%,OWS,DWS,WS,WS/48,2,OBPM,DBPM,BPM,VORP
0,1,Precious Achiuwa,C,23,TOR,38,11,23.3,3.9,8.1,...,19.2,0.6,1.0,1.6,0.089,NaN,-1.6,-0.9,-2.5,-0.1
1,2,Steven Adams,C,29,MEM,42,42,27.0,3.7,6.3,...,14.4,1.3,2.2,3.4,0.146,NaN,-0.3,0.9,0.6,0.8
2,3,Bam Adebayo,C,25,MIA,56,56,35.1,8.5,15.7,...,25.9,2.9,3.2,6.1,0.150,NaN,1.1,1.0,2.1,2.0
3,4,Ochai Agbaji,SG,22,UTA,39,2,15.6,1.8,3.8,...,11.8,0.8,0.2,1.0,0.075,NaN,-1.3,-1.3,-2.6,-0.1
4,5,Santi Aldama,PF,22,MEM,56,18,22.0,3.3,7.0,...,16.0,1.8,2.0,3.7,0.146,NaN,0.1,1.3,1.4,1.0

In [195]:
combined.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Name',
       'Games', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%',
       'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', '2',
       'OBPM', 'DBPM', 'BPM', 'VORP'],
      dtype='object')

In [196]:
#double check that all entries line up from concat
for index, row in combined.iterrows():
  print(combined['Player'][index], combined['Name'][index])
  print(combined['G'][index], combined['Games'][index])

Precious Achiuwa Precious Achiuwa
38 38
Steven Adams Steven Adams
42 42
Bam Adebayo Bam Adebayo
56 56
Ochai Agbaji Ochai Agbaji
39 39
Santi Aldama Santi Aldama
56 56
Nickeil Alexander-Walker Nickeil Alexander-Walker
40 40
Nickeil Alexander-Walker Nickeil Alexander-Walker
36 36
Nickeil Alexander-Walker Nickeil Alexander-Walker
4 4
Grayson Allen Grayson Allen
56 56
Jarrett Allen Jarrett Allen
57 57
Jose Alvarado Jose Alvarado
60 60
Kyle Anderson Kyle Anderson
50 50
Giannis Antetokounmpo Giannis Antetokounmpo
48 48
Thanasis Antetokounmpo Thanasis Antetokounmpo
26 26
Cole Anthony Cole Anthony
41 41
OG Anunoby OG Anunoby
48 48
Ryan Arcidiacono Ryan Arcidiacono
14 14
Ryan Arcidiacono Ryan Arcidiacono
11 11
Ryan Arcidiacono Ryan Arcidiacono
3 3
Deni Avdija Deni Avdija
58 58
Deandre Ayton Deandre Ayton
53 53
Udoka Azubuike Udoka Azubuike
25 25
Marvin Bagley III Marvin Bagley III
26 26
Patrick Baldwin Jr. Patrick Baldwin Jr.
19 19
LaMelo Ball LaMelo Ball
35 35
Mo Bamba Mo Bamba
43 43
Mo Bamba Mo Bamba
40 40
Mo Bamba Mo Bamba
3 3
Paolo Banchero Paolo Banchero
54 54
Desmond Bane Desmond Bane
37 37
Dalano Banton Dalano Banton
27 27
Dominick Barlow Dominick Barlow
11 11
Harrison Barnes Harrison Barnes
60 60
Scottie Barnes Scottie Barnes
59 59
RJ Barrett RJ Barrett
55 55
Will Barton Will Barton
40 40
Charles Bassey Charles Bassey
28 28
Keita Bates-Diop Keita Bates-Diop
47 47
Nicolas Batum Nicolas Batum
59 59
Darius Bazley Darius Bazley
36 36
Bradley Beal Bradley Beal
38 38
Malik Beasley Malik Beasley
60 60
Malik Beasley Malik Beasley
55 55
Malik Beasley Malik Beasley
5 5
MarJon Beauchamp MarJon Beauchamp
39 39
D?vis Bert?ns D?vis Bert?ns
34 34
Patrick Beverley Patrick Beverley
47 47
Patrick Beverley Patrick Beverley
45 45
Patrick Beverley Patrick Beverley
2 2
Saddiq Bey Saddiq Bey
56 56
Saddiq Bey Saddiq Bey
52 52
Saddiq Bey Saddiq Bey
4 4
Khem Birch Khem Birch
20 20
Goga Bitadze Goga Bitadze
22 22
Goga Bitadze Goga Bitadze
21 21
Goga Bitadze Goga Bitadze
1 1
Bismack Biyombo Bismack Biyombo
46 46
Buddy Boeheim Buddy Boeheim
1 1
Bogdan Bogdanovi? Bogdan Bogdanovi?
36 36
Bojan Bogdanovi? Bojan Bogdanovi?
58 58
Bol Bol Bol Bol
56 56
Leandro Bolmaro Leandro Bolmaro
14 14
Devin Booker Devin Booker
35 35
Brandon Boston Jr. Brandon Boston Jr.
21 21
Chris Boucher Chris Boucher
56 56
James Bouknight James Bouknight
26 26
Jamaree Bouyea Jamaree Bouyea
4 4
Tony Bradley Tony Bradley
12 12
Malaki Branham Malaki Branham
47 47
Christian Braun Christian Braun
57 57
Mikal Bridges Mikal Bridges
61 61
Mikal Bridges Mikal Bridges
56 56
Mikal Bridges Mikal Bridges
5 5
Oshae Brissett Oshae Brissett
49 49
Malcolm Brogdon Malcolm Brogdon
52 52
Dillon Brooks Dillon Brooks
54 54
Bruce Brown Bruce Brown
61 61
Greg Brown III Greg Brown III
16 16
Jaylen Brown Jaylen Brown
50 50
Kendall Brown Kendall Brown
6 6
Moses Brown Moses Brown
34 34
Sterling Brown Sterling Brown
4 4
Troy Brown Jr. Troy Brown Jr.
55 55
Jalen Brunson Jalen Brunson
58 58
Thomas Bryant Thomas Bryant
47 47
Thomas Bryant Thomas Bryant
41 41
Thomas Bryant Thomas Bryant
6 6
Reggie Bullock Reggie Bullock
60 60
Alec Burks Alec Burks
48 48
Deonte Burton Deonte Burton
2 2
Jimmy Butler Jimmy Butler
46 46
John Butler John Butler
9 9
Jamal Cain Jamal Cain
14 14
Kentavious Caldwell-Pope Kentavious Caldwell-Pope
59 59
Facundo Campazzo Facundo Campazzo
8 8
Vlatko ?an?ar Vlatko ?an?ar
47 47
Clint Capela Clint Capela
45 45
Vernon Carey Jr. Vernon Carey Jr.
11 11
Jevon Carter Jevon Carter
60 60
Wendell Carter Jr. Wendell Carter Jr.
41 41
Alex Caruso Alex Caruso
51 51
Julian Champagnie Julian Champagnie
2 2
Justin Champagnie Justin Champagnie
3 3
Kennedy Chandler Kennedy Chandler
25 25
Max Christie Max Christie
35 35
Josh Christopher Josh Christopher
42 42
Brandon Clarke Brandon Clarke
53 53
Jordan Clarkson Jordan Clarkson
60 60
Nic Claxton Nic Claxton
56 56
Amir Coffey Amir Coffey
41 41
John Collins John Collins
51 51
Zach Collins Zach Collins
50 50
Mike Conley Mike Conley
48 48
Mike Conley Mike Conley
43 43
Mike Conley Mike Conley
5 5
Pat Connaughton Pat Connaughton
42 42
Robert Covington Robert Covington
36 36
Torrey Craig Torrey Craig
59 59
Jae Crowder Jae Crowder
2 2
Jarrett Culver Jarrett Culver
10 10
Cade Cunningham Cade Cunningham
12 12
Seth Curry Seth Curry
42 42
Stephen Curry Stephen Curry
38 38
Dyson Daniels Dyson Daniels
40 40
Anthony Davis Anthony Davis
37 37
Johnny Davis Johnny Davis
13 13
Terence Davis Terence Davis
47 47
JD Davison JD Davison
6 6
Darius Days Darius Days
4 4
Dewayne Dedmon Dewayne Dedmon
30 30
Matthew Dellavedova Matthew Dellavedova
25 25
DeMar DeRozan DeMar DeRozan
55 55
Moussa Diabaté Moussa Diabaté
18 18
Mamadi Diakite Mamadi Diakite
16 16
Hamidou Diallo Hamidou Diallo
52 52
Gorgui Dieng Gorgui Dieng
21 21
Ousmane Dieng Ousmane Dieng
19 19
Spencer Dinwiddie Spencer Dinwiddie
59 59
Spencer Dinwiddie Spencer Dinwiddie
53 53
Spencer Dinwiddie Spencer Dinwiddie
6 6
Donte DiVincenzo Donte DiVincenzo
51 51
Luka Don?i? Luka Don?i?
52 52
Tyler Dorsey Tyler Dorsey
3 3
Luguentz Dort Luguentz Dort
53 53
Ayo Dosunmu Ayo Dosunmu
59 59
Devon Dotson Devon Dotson
6 6
Jeff Dowtin Jeff Dowtin
18 18
PJ Dozier PJ Dozier
4 4
Goran Dragi? Goran Dragi?
51 51
Andre Drummond Andre Drummond
48 48
Chris Duarte Chris Duarte
38 38
David Duke Jr. David Duke Jr.
16 16
Kris Dunn Kris Dunn
2 2
Kevin Durant Kevin Durant
39 39
Jalen Duren Jalen Duren
52 52
Tari Eason Tari Eason
60 60
Anthony Edwards Anthony Edwards
63 63
Kessler Edwards Kessler Edwards
16 16
Kessler Edwards Kessler Edwards
14 14
Kessler Edwards Kessler Edwards
2 2
Keon Ellis Keon Ellis
9 9
Joel Embiid Joel Embiid
47 47
Drew Eubanks Drew Eubanks
58 58
Bruno Fernando Bruno Fernando
33 33
Bruno Fernando Bruno Fernando
31 31
Bruno Fernando Bruno Fernando
2 2
Dorian Finney-Smith Dorian Finney-Smith
46 46
Dorian Finney-Smith Dorian Finney-Smith
40 40
Dorian Finney-Smith Dorian Finney-Smith
6 6
Malachi Flynn Malachi Flynn
43 43
Simone Fontecchio Simone Fontecchio
33 33
Bryn Forbes Bryn Forbes
25 25
Trent Forrest Trent Forrest
18 18
Michael Foster Jr. Michael Foster Jr.
1 1
Evan Fournier Evan Fournier
23 23
De'Aaron Fox De'Aaron Fox
55 55
Markelle Fultz Markelle Fultz
40 40
Wenyen Gabriel Wenyen Gabriel
47 47
Daniel Gafford Daniel Gafford
58 58
Darius Garland Darius Garland
54 54
Usman Garuba Usman Garuba
53 53
Luka Garza Luka Garza
23 23
Rudy Gay Rudy Gay
46 46
Paul George Paul George
46 46
Taj Gibson Taj Gibson
38 38
Josh Giddey Josh Giddey
55 55
Shai Gilgeous-Alexander Shai Gilgeous-Alexander
54 54
Anthony Gill Anthony Gill
42 42
Rudy Gobert Rudy Gobert
51 51
Jordan Goodwin Jordan Goodwin
41 41
Aaron Gordon Aaron Gordon
50 50
Eric Gordon Eric Gordon
51 51
Eric Gordon Eric Gordon
47 47
Eric Gordon Eric Gordon
4 4
Devonte' Graham Devonte' Graham
59 59
Devonte' Graham Devonte' Graham
53 53
Devonte' Graham Devonte' Graham
6 6
Jerami Grant Jerami Grant
55 55
A.J. Green A.J. Green
27 27
Danny Green Danny Green
6 6
Danny Green Danny Green
3 3
Danny Green Danny Green
3 3
Draymond Green Draymond Green
53 53
Jalen Green Jalen Green
54 54
JaMychal Green JaMychal Green
41 41
Javonte Green Javonte Green
28 28
Jeff Green Jeff Green
39 39
Josh Green Josh Green
42 42
AJ Griffin AJ Griffin
57 57
Blake Griffin Blake Griffin
26 26
Quentin Grimes Quentin Grimes
51 51
Rui Hachimura Rui Hachimura
43 43
Rui Hachimura Rui Hachimura
30 30
Rui Hachimura Rui Hachimura
13 13
Tyrese Haliburton Tyrese Haliburton
50 50
Jordan Hall Jordan Hall
9 9
R.J. Hampton R.J. Hampton
27 27
R.J. Hampton R.J. Hampton
26 26
R.J. Hampton R.J. Hampton
1 1
Tim Hardaway Jr. Tim Hardaway Jr.
56 56
James Harden James Harden
43 43
Jaden Hardy Jaden Hardy
32 32
Ron Harper Jr. Ron Harper Jr.
4 4
Montrezl Harrell Montrezl Harrell
50 50
Gary Harris Gary Harris
32 32
Joe Harris Joe Harris
53 53
Kevon Harris Kevon Harris
27 27
Tobias Harris Tobias Harris
55 55
Josh Hart Josh Hart
56 56
Josh Hart Josh Hart
51 51
Josh Hart Josh Hart
5 5
Isaiah Hartenstein Isaiah Hartenstein
62 62
Udonis Haslem Udonis Haslem
6 6
Sam Hauser Sam Hauser
59 59
Jaxson Hayes Jaxson Hayes
34 34
Killian Hayes Killian Hayes
57 57
Gordon Hayward Gordon Hayward
36 36
Juancho Hernangómez Juancho Hernangómez
42 42
Willy Hernangómez Willy Hernangómez
30 30
Tyler Herro Tyler Herro
47 47
Buddy Hield Buddy Hield
62 62
Haywood Highsmith Haywood Highsmith
44 44
George Hill George Hill
36 36
George Hill George Hill
35 35
George Hill George Hill
1 1
Malcolm Hill Malcolm Hill
5 5
Aaron Holiday Aaron Holiday
51 51
Jrue Holiday Jrue Holiday
49 49
Justin Holiday Justin Holiday
30 30
Justin Holiday Justin Holiday
28 28
Justin Holiday Justin Holiday
2 2
Richaun Holmes Richaun Holmes
34 34
Al Horford Al Horford
47 47
Talen Horton-Tucker Talen Horton-Tucker
48 48
Danuel House Jr. Danuel House Jr.
37 37
Caleb Houstan Caleb Houstan
34 34
Trevor Hudgins Trevor Hudgins
5 5
Kevin Huerter Kevin Huerter
57 57
De'Andre Hunter De'Andre Hunter
51 51
Bones Hyland Bones Hyland
45 45
Bones Hyland Bones Hyland
42 42
Bones Hyland Bones Hyland
3 3
Serge Ibaka Serge Ibaka
16 16
Andre Iguodala Andre Iguodala
3 3
Joe Ingles Joe Ingles
27 27
Brandon Ingram Brandon Ingram
26 26
Kyrie Irving Kyrie Irving
46 46
Kyrie Irving Kyrie Irving
40 40
Kyrie Irving Kyrie Irving
6 6
Jonathan Isaac Jonathan Isaac
11 11
Jaden Ivey Jaden Ivey
57 57
Isaiah Jackson Isaiah Jackson
45 45
Jaren Jackson Jr. Jaren Jackson Jr.
42 42
Justin Jackson Justin Jackson
23 23
Quenton Jackson Quenton Jackson
3 3
Reggie Jackson Reggie Jackson
55 55
Reggie Jackson Reggie Jackson
52 52
Reggie Jackson Reggie Jackson
3 3
LeBron James LeBron James
47 47
Ty Jerome Ty Jerome
39 39
Isaiah Joe Isaiah Joe
52 52
Alize Johnson Alize Johnson
4 4
Cameron Johnson Cameron Johnson
22 22
Cameron Johnson Cameron Johnson
17 17
Cameron Johnson Cameron Johnson
5 5
Jalen Johnson Jalen Johnson
57 57
James Johnson James Johnson
12 12
Keldon Johnson Keldon Johnson
54 54
Keon Johnson Keon Johnson
30 30
Stanley Johnson Stanley Johnson
30 30
Nikola Joki? Nikola Joki?
54 54
Carlik Jones Carlik Jones
2 2
Damian Jones Damian Jones
24 24
Damian Jones Damian Jones
22 22
Damian Jones Damian Jones
2 2
Derrick Jones Jr. Derrick Jones Jr.
48 48
Herbert Jones Herbert Jones
45 45
Kai Jones Kai Jones
28 28
Tre Jones Tre Jones
52 52
Tyus Jones Tyus Jones
59 59
DeAndre Jordan DeAndre Jordan
34 34
Cory Joseph Cory Joseph
42 42
Nikola Jovi? Nikola Jovi?
15 15
Mfiondu Kabengele Mfiondu Kabengele
2 2
Frank Kaminsky Frank Kaminsky
29 29
Frank Kaminsky Frank Kaminsky
26 26
Frank Kaminsky Frank Kaminsky
3 3
Trevor Keels Trevor Keels
1 1
Luke Kennard Luke Kennard
38 38
Luke Kennard Luke Kennard
35 35
Luke Kennard Luke Kennard
3 3
Walker Kessler Walker Kessler
59 59
Braxton Key Braxton Key
3 3
Corey Kispert Corey Kispert
52 52
Maxi Kleber Maxi Kleber
22 22
Nathan Knight Nathan Knight
34 34
Kevin Knox Kevin Knox
46 46
Kevin Knox Kevin Knox
42 42
Kevin Knox Kevin Knox
4 4
Christian Koloko Christian Koloko
46 46
John Konchar John Konchar
51 51
Furkan Korkmaz Furkan Korkmaz
25 25
Luke Kornet Luke Kornet
52 52
Vit Krejci Vit Krejci
22 22
Jonathan Kuminga Jonathan Kuminga
49 49
Kyle Kuzma Kyle Kuzma
55 55
Anthony Lamb Anthony Lamb
46 46
Jock Landale Jock Landale
53 53
Romeo Langford Romeo Langford
32 32
Jake LaRavia Jake LaRavia
31 31
Zach LaVine Zach LaVine
57 57
A.J. Lawson A.J. Lawson
13 13
A.J. Lawson A.J. Lawson
1 1
A.J. Lawson A.J. Lawson
12 12
Damion Lee Damion Lee
62 62
Saben Lee Saben Lee
20 20
Saben Lee Saben Lee
2 2
Saben Lee Saben Lee
18 18
Alex Len Alex Len
14 14
Kawhi Leonard Kawhi Leonard
36 36
Meyers Leonard Meyers Leonard
2 2
Caris LeVert Caris LeVert
58 58
Kira Lewis Jr. Kira Lewis Jr.
15 15
Damian Lillard Damian Lillard
47 47
Nassir Little Nassir Little
39 39
Isaiah Livers Isaiah Livers
39 39
Kenneth Lofton Jr. Kenneth Lofton Jr.
9 9
Kevon Looney Kevon Looney
61 61
Brook Lopez Brook Lopez
59 59
Robin Lopez Robin Lopez
32 32
Kevin Love Kevin Love
43 43
Kevin Love Kevin Love
41 41
Kevin Love Kevin Love
2 2
Kyle Lowry Kyle Lowry
44 44
Trey Lyles Trey Lyles
54 54
Théo Maledon Théo Maledon
36 36
Sandro Mamukelashvili Sandro Mamukelashvili
24 24
Terance Mann Terance Mann
62 62
Tre Mann Tre Mann
54 54
Boban Marjanovi? Boban Marjanovi?
20 20
Lauri Markkanen Lauri Markkanen
56 56
Naji Marshall Naji Marshall
56 56
Caleb Martin Caleb Martin
51 51
Cody Martin Cody Martin
7 7
Kenyon Martin Jr. Kenyon Martin Jr.
60 60
Tyrese Martin Tyrese Martin
13 13
Garrison Mathews Garrison Mathews
47 47
Garrison Mathews Garrison Mathews
45 45
Garrison Mathews Garrison Mathews
2 2
Bennedict Mathurin Bennedict Mathurin
62 62
Wesley Matthews Wesley Matthews
39 39
Tyrese Maxey Tyrese Maxey
40 40
Miles McBride Miles McBride
48 48
CJ McCollum CJ McCollum
54 54
T.J. McConnell T.J. McConnell
59 59
Jaden McDaniels Jaden McDaniels
60 60
Jalen McDaniels Jalen McDaniels
61 61
Jalen McDaniels Jalen McDaniels
56 56
Jalen McDaniels Jalen McDaniels
5 5
Doug McDermott Doug McDermott
53 53
JaVale McGee JaVale McGee
36 36
Bryce McGowens Bryce McGowens
26 26
Rodney McGruder Rodney McGruder
21 21
Jordan McLaughlin Jordan McLaughlin
26 26
De'Anthony Melton De'Anthony Melton
56 56
Chimezie Metu Chimezie Metu
47 47
Khris Middleton Khris Middleton
19 19
Patty Mills Patty Mills
36 36
Shake Milton Shake Milton
55 55
Josh Minott Josh Minott
11 11
Davion Mitchell Davion Mitchell
59 59
Donovan Mitchell Donovan Mitchell
53 53
Evan Mobley Evan Mobley
62 62
Isaiah Mobley Isaiah Mobley
9 9
Chima Moneke Chima Moneke
2 2
Malik Monk Malik Monk
57 57
Moses Moody Moses Moody
47 47
Wendell Moore Jr. Wendell Moore Jr.
24 24
Ja Morant Ja Morant
50 50
Marcus Morris Marcus Morris
55 55
Markieff Morris Markieff Morris
28 28
Markieff Morris Markieff Morris
27 27
Markieff Morris Markieff Morris
1 1
Monte Morris Monte Morris
51 51
Trey Murphy III Trey Murphy III
58 58
Dejounte Murray Dejounte Murray
56 56
Jamal Murray Jamal Murray
48 48
Keegan Murray Keegan Murray
58 58
Mike Muscala Mike Muscala
46 46
Mike Muscala Mike Muscala
43 43
Mike Muscala Mike Muscala
3 3
Svi Mykhailiuk Svi Mykhailiuk
15 15
Svi Mykhailiuk Svi Mykhailiuk
13 13
Svi Mykhailiuk Svi Mykhailiuk
2 2
Larry Nance Jr. Larry Nance Jr.
50 50
Andrew Nembhard Andrew Nembhard
55 55
Aaron Nesmith Aaron Nesmith
55 55
Raul Neto Raul Neto
41 41
Georges Niang Georges Niang
57 57
Daishen Nix Daishen Nix
43 43
Zeke Nnaji Zeke Nnaji
44 44
Nerlens Noel Nerlens Noel
14 14
Jaylen Nowell Jaylen Nowell
62 62
Frank Ntilikina Frank Ntilikina
38 38
Kendrick Nunn Kendrick Nunn
52 52
Kendrick Nunn Kendrick Nunn
39 39
Kendrick Nunn Kendrick Nunn
13 13
Jusuf Nurki? Jusuf Nurki?
45 45
Jordan Nwora Jordan Nwora
42 42
Jordan Nwora Jordan Nwora
38 38
Jordan Nwora Jordan Nwora
4 4
Royce O'Neale Royce O'Neale
57 57
Chuma Okeke Chuma Okeke
19 19
Josh Okogie Josh Okogie
52 52
Onyeka Okongwu Onyeka Okongwu
59 59
Isaac Okoro Isaac Okoro
64 64
KZ Okpala KZ Okpala
35 35
Victor Oladipo Victor Oladipo
28 28
Kelly Olynyk Kelly Olynyk
50 50
Eugene Omoruyi Eugene Omoruyi
23 23
Cedi Osman Cedi Osman
60 60
Kelly Oubre Jr. Kelly Oubre Jr.
37 37
Chris Paul Chris Paul
41 41
Cameron Payne Cameron Payne
30 30
Gary Payton II Gary Payton II
15 15
Theo Pinson Theo Pinson
33 33
Scotty Pippen Jr. Scotty Pippen Jr.
6 6
Mason Plumlee Mason Plumlee
60 60
Mason Plumlee Mason Plumlee
56 56
Mason Plumlee Mason Plumlee
4 4
Jakob Poeltl Jakob Poeltl
52 52
Jakob Poeltl Jakob Poeltl
46 46
Jakob Poeltl Jakob Poeltl
6 6
Aleksej Pokusevski Aleksej Pokusevski
31 31
Jordan Poole Jordan Poole
61 61
Kevin Porter Jr. Kevin Porter Jr.
40 40
Michael Porter Jr. Michael Porter Jr.
45 45
Otto Porter Jr. Otto Porter Jr.
8 8
Bobby Portis Bobby Portis
49 49
Kristaps Porzi??is Kristaps Porzi??is
51 51
Micah Potter Micah Potter
3 3
Dwight Powell Dwight Powell
57 57
Norman Powell Norman Powell
52 52
Jason Preston Jason Preston
13 13
Joshua Primo Joshua Primo
4 4
Taurean Prince Taurean Prince
37 37
Payton Pritchard Payton Pritchard
42 42
Trevelin Queen Trevelin Queen
7 7
Neemias Queta Neemias Queta
4 4
Immanuel Quickley Immanuel Quickley
61 61
Julius Randle Julius Randle
62 62
Austin Reaves Austin Reaves
43 43
Cam Reddish Cam Reddish
25 25
Cam Reddish Cam Reddish
20 20
Cam Reddish Cam Reddish
5 5
Davon Reed Davon Reed
38 38
Davon Reed Davon Reed
35 35
Davon Reed Davon Reed
3 3
Paul Reed Paul Reed
46 46
Naz Reid Naz Reid
55 55
Jared Rhoden Jared Rhoden
1 1
Nick Richards Nick Richards
47 47
Josh Richardson Josh Richardson
46 46
Josh Richardson Josh Richardson
42 42
Josh Richardson Josh Richardson
4 4
Austin Rivers Austin Rivers
48 48
Duncan Robinson Duncan Robinson
31 31
Mitchell Robinson Mitchell Robinson
40 40
Orlando Robinson Orlando Robinson
29 29
Jeremiah Robinson-Earl Jeremiah Robinson-Earl
31 31
Isaiah Roby Isaiah Roby
42 42
David Roddy David Roddy
48 48
Ryan Rollins Ryan Rollins
12 12
Derrick Rose Derrick Rose
27 27
Terrence Ross Terrence Ross
45 45
Terrence Ross Terrence Ross
42 42
Terrence Ross Terrence Ross
3 3
Terry Rozier Terry Rozier
51 51
Ricky Rubio Ricky Rubio
16 16
D'Angelo Russell D'Angelo Russell
58 58
D'Angelo Russell D'Angelo Russell
54 54
D'Angelo Russell D'Angelo Russell
4 4
Matt Ryan Matt Ryan
32 32
Matt Ryan Matt Ryan
12 12
Matt Ryan Matt Ryan
20 20
Domantas Sabonis Domantas Sabonis
58 58
Dario Šari? Dario Šari?
41 41
Dario Šari? Dario Šari?
37 37
Dario Šari? Dario Šari?
4 4
Jordan Schakel Jordan Schakel
2 2
Admiral Schofield Admiral Schofield
28 28
Dennis Schröder Dennis Schröder
47 47
Dereon Seabron Dereon Seabron
5 5
Alperen ?engün Alperen ?engün
55 55
Collin Sexton Collin Sexton
47 47
Landry Shamet Landry Shamet
30 30
Day'Ron Sharpe Day'Ron Sharpe
33 33
Shaedon Sharpe Shaedon Sharpe
59 59
Pascal Siakam Pascal Siakam
52 52
Chris Silva Chris Silva
1 1
Ben Simmons Ben Simmons
42 42
Marko Simonovic Marko Simonovic
3 3
Anfernee Simons Anfernee Simons
56 56
Jericho Sims Jericho Sims
48 48
Marcus Smart Marcus Smart
44 44
Dennis Smith Jr. Dennis Smith Jr.
40 40
Dru Smith Dru Smith
8 8
Dru Smith Dru Smith
5 5
Dru Smith Dru Smith
3 3
Ish Smith Ish Smith
31 31
Jabari Smith Jr. Jabari Smith Jr.
57 57
Jalen Smith Jalen Smith
52 52
Jeremy Sochan Jeremy Sochan
49 49
Jaden Springer Jaden Springer
7 7
Lamar Stevens Lamar Stevens
45 45
Isaiah Stewart Isaiah Stewart
50 50
Max Strus Max Strus
59 59
Jalen Suggs Jalen Suggs
36 36
Edmond Sumner Edmond Sumner
46 46
Cole Swider Cole Swider
6 6
Jae'Sean Tate Jae'Sean Tate
22 22
Jayson Tatum Jayson Tatum
57 57
Terry Taylor Terry Taylor
27 27
Terry Taylor Terry Taylor
26 26
Terry Taylor Terry Taylor
1 1
Garrett Temple Garrett Temple
19 19
Dalen Terry Dalen Terry
25 25
Daniel Theis Daniel Theis
7 7
Cam Thomas Cam Thomas
43 43
Klay Thompson Klay Thompson
49 49
JT Thor JT Thor
49 49
Matisse Thybulle Matisse Thybulle
53 53
Matisse Thybulle Matisse Thybulle
49 49
Matisse Thybulle Matisse Thybulle
4 4
Xavier Tillman Sr. Xavier Tillman Sr.
40 40
Isaiah Todd Isaiah Todd
4 4
Obi Toppin Obi Toppin
47 47
Juan Toscano-Anderson Juan Toscano-Anderson
33 33
Juan Toscano-Anderson Juan Toscano-Anderson
30 30
Juan Toscano-Anderson Juan Toscano-Anderson
3 3
Karl-Anthony Towns Karl-Anthony Towns
21 21
Gary Trent Jr. Gary Trent Jr.
53 53
P.J. Tucker P.J. Tucker
57 57
Myles Turner Myles Turner
52 52
Stanley Umude Stanley Umude
1 1
Jonas Valan?i?nas Jonas Valan?i?nas
60 60
Jarred Vanderbilt Jarred Vanderbilt
57 57
Jarred Vanderbilt Jarred Vanderbilt
52 52
Jarred Vanderbilt Jarred Vanderbilt
5 5
Fred VanVleet Fred VanVleet
50 50
Devin Vassell Devin Vassell
29 29
Gabe Vincent Gabe Vincent
47 47
Noah Vonleh Noah Vonleh
23 23
Nikola Vu?evi? Nikola Vu?evi?
61 61
Dean Wade Dean Wade
34 34
Franz Wagner Franz Wagner
60 60
Moritz Wagner Moritz Wagner
40 40
Ish Wainright Ish Wainright
44 44
Jabari Walker Jabari Walker
40 40
Kemba Walker Kemba Walker
9 9
Lonnie Walker IV Lonnie Walker IV
44 44
John Wall John Wall
34 34
T.J. Warren T.J. Warren
28 28
T.J. Warren T.J. Warren
26 26
T.J. Warren T.J. Warren
2 2
Duane Washington Jr. Duane Washington Jr.
31 31
P.J. Washington P.J. Washington
60 60
TyTy Washington Jr. TyTy Washington Jr.
25 25
Yuta Watanabe Yuta Watanabe
44 44
Lindy Waters III Lindy Waters III
25 25

In [197]:
combined.drop(['Name', 'Games' ,'2', 'Rk'], axis = 1, inplace = True)

In [198]:
combined.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,Precious Achiuwa,C,23,TOR,38,11,23.3,3.9,8.1,0.482,...,11.5,19.2,0.6,1.0,1.6,0.089,-1.6,-0.9,-2.5,-0.1
1,Steven Adams,C,29,MEM,42,42,27.0,3.7,6.3,0.597,...,19.8,14.4,1.3,2.2,3.4,0.146,-0.3,0.9,0.6,0.8
2,Bam Adebayo,C,25,MIA,56,56,35.1,8.5,15.7,0.540,...,12.1,25.9,2.9,3.2,6.1,0.150,1.1,1.0,2.1,2.0
3,Ochai Agbaji,SG,22,UTA,39,2,15.6,1.8,3.8,0.483,...,7.6,11.8,0.8,0.2,1.0,0.075,-1.3,-1.3,-2.6,-0.1
4,Santi Aldama,PF,22,MEM,56,18,22.0,3.3,7.0,0.474,...,8.5,16.0,1.8,2.0,3.7,0.146,0.1,1.3,1.4,1.0

In [199]:
#now for players that switched teams we want to only keep the column with total

In [200]:
traded_players = []

for index, row in combined.iterrows():
  if combined.at[index,'Tm'] == 'TOT':
    traded_players.append(combined.at[index,'Player'])

In [201]:
traded_players

['Nickeil Alexander-Walker',
 'Ryan Arcidiacono',
 'Mo Bamba',
 'Malik Beasley',
 'Patrick Beverley',
 'Saddiq Bey',
 'Goga Bitadze',
 'Mikal Bridges',
 'Thomas Bryant',
 'Mike Conley',
 'Spencer Dinwiddie',
 'Kessler Edwards',
 'Bruno Fernando',
 'Dorian Finney-Smith',
 'Eric Gordon',
 "Devonte' Graham",
 'Danny Green',
 'Rui Hachimura',
 'R.J. Hampton',
 'Josh Hart',
 'George Hill',
 'Justin Holiday',
 'Bones Hyland',
 'Kyrie Irving',
 'Reggie Jackson',
 'Cameron Johnson',
 'Damian Jones',
 'Frank Kaminsky',
 'Luke Kennard',
 'Kevin Knox',
 'A.J. Lawson',
 'Saben Lee',
 'Kevin Love',
 'Garrison Mathews',
 'Jalen McDaniels',
 'Markieff Morris',
 'Mike Muscala',
 'Svi Mykhailiuk',
 'Kendrick Nunn',
 'Jordan Nwora',
 'Mason Plumlee',
 'Jakob Poeltl',
 'Cam Reddish',
 'Davon Reed',
 'Josh Richardson',
 'Terrence Ross',
 "D'Angelo Russell",
 'Matt Ryan',
 'Dario Šari?',
 'Dru Smith',
 'Terry Taylor',
 'Matisse Thybulle',
 'Juan Toscano-Anderson',
 'Jarred Vanderbilt',
 'T.J. Warren',
 'Russell Westbrook',
 'James Wiseman']

In [202]:
for index, row in combined.iterrows():
  #if the player was traded and the row does not have team = TOT (the players total season stats), we delete the row
  if combined.at[index,'Player'] in traded_players and combined.at[index,'Tm'] != 'TOT':
    combined.drop(labels = index, axis = 0, inplace = True)
combined = combined.reset_index(drop = 'True')

In [204]:
combined.shape

(510, 49)

In [205]:
combined.tail(20)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
490,Alondes Williams,SG,23,BRK,1,0,5.0,0.0,0.0,NaN,...,100.0,17.9,-0.1,0.0,-0.1,-0.522,-21.1,-5.5,-26.6,0.0
491,Grant Williams,PF,24,BOS,60,21,27.5,2.9,6.2,0.460,...,13.7,12.8,1.7,1.9,3.7,0.106,-1.5,0.6,-0.9,0.5
492,Jalen Williams,SG,21,OKC,56,43,29.2,5.0,9.8,0.509,...,12.7,17.4,1.4,1.8,3.2,0.094,-1.5,0.5,-1.0,0.4
493,Jaylin Williams,PF,20,OKC,28,15,16.4,2.1,4.4,0.472,...,12.3,14.0,0.5,0.6,1.1,0.114,-1.4,0.3,-1.1,0.1
494,Kenrich Williams,PF,28,OKC,52,10,22.6,3.3,6.5,0.516,...,7.6,13.6,2.1,1.2,3.3,0.136,0.4,0.2,0.6,0.8
495,Mark Williams,C,21,CHO,31,6,16.3,3.2,5.0,0.645,...,11.2,16.9,1.1,0.9,2.0,0.187,-0.1,1.0,0.8,0.4
496,Patrick Williams,PF,21,CHI,61,58,28.9,3.8,8.3,0.460,...,12.9,15.4,0.4,2.2,2.6,0.070,-1.7,0.4,-1.3,0.3
497,Robert Williams,C,25,BOS,25,15,24.0,4.0,5.3,0.750,...,13.9,12.0,1.9,1.0,2.9,0.229,1.8,1.6,3.5,0.8
498,Vince Williams Jr.,SG,22,MEM,9,0,5.4,0.3,1.4,0.231,...,7.1,11.7,-0.1,0.1,0.0,-0.001,-7.5,3.3,-4.2,0.0
499,Ziaire Williams,SF,21,MEM,29,3,16.9,2.3,5.5,0.419,...,15.2,16.5,-0.5,0.6,0.1,0.011,-5.4,-0.6,-6.0,-0.5
500,Zion Williamson,PF,22,NOP,29,29,33.0,9.8,16.2,0.608,...,14.6,30.1,2.4,1.1,3.6,0.179,4.8,0.8,5.7,1.8
501,Justise Winslow,SF,26,POR,29,11,26.8,2.8,6.8,0.409,...,17.0,14.3,0.0,0.6,0.6,0.036,-3.3,0.7,-2.6,-0.1
502,James Wiseman,C,21,TOT,24,1,13.8,3.0,5.1,0.598,...,12.0,20.2,0.4,0.3,0.7,0.101,-2.5,-0.8,-3.3,-0.1
503,Christian Wood,C,27,DAL,50,17,27.4,6.4,12.2,0.525,...,12.0,26.3,2.3,1.7,4.0,0.140,2.2,-0.2,2.0,1.3
504,Delon Wright,PG,30,WAS,31,3,22.6,2.5,5.3,0.467,...,14.4,12.9,1.1,1.1,2.2,0.148,0.2,3.7,3.9,1.1
505,McKinley Wright IV,PG,24,DAL,20,1,10.3,1.2,2.5,0.469,...,18.2,14.5,0.1,0.2,0.3,0.074,-2.6,-0.4,-3.0,-0.1
506,Thaddeus Young,PF,34,TOR,49,9,15.5,2.1,3.8,0.562,...,16.6,13.2,0.8,1.0,1.8,0.115,-1.7,1.9,0.2,0.4
507,Trae Young,PG,24,ATL,54,54,35.3,8.5,19.8,0.429,...,14.7,33.2,3.9,1.1,5.0,0.127,5.3,-1.9,3.4,2.6
508,Cody Zeller,C,30,MIA,2,0,15.5,3.0,4.5,0.667,...,16.8,16.9,0.1,0.0,0.1,0.219,-0.5,1.4,0.9,0.0
509,Ivica Zubac,C,25,LAC,59,59,29.4,4.0,6.5,0.617,...,17.9,14.3,2.6,2.3,4.9,0.135,-1.6,0.1,-1.5,0.2

# Now, we just need to add on 2022-2023 season salary onto each entry