<a href="https://colab.research.google.com/github/mnocerino23/NBA-Player-Classifier/blob/main/2022_2023_midseasonStats_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load in individual player stats from basketball reference

2022-23 NBA Player Stats Per Game:
 https://www.basketball-reference.com/leagues/NBA_2023_per_game.html


2022-23 NBA Player Advanced Stats: https://www.basketball-reference.com/leagues/NBA_2023_advanced.html

Salary data from Hoopshype: https://hoopshype.com/salaries/players/

In [27]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [28]:
salaries = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/NBA/2022-2023Salaries.csv')
perGame = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/NBA/2022-2023PerGameStats.csv')
advancedStats = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/NBA/2022-2023AdvancedStats.csv')

In [29]:
salaries.columns

Index(['Column1', 'Player', '2022/23', 'Column2', 'Column3', 'Column4',
       'Column5', 'Column6'],
      dtype='object')

In [30]:
#drop empty columns from the 2022-2023 salaries dataset
salaries.drop(columns = ["Column1", "Column2", "Column3", "Column4", "Column5", "Column6"], inplace = True)
salaries

                Player   2022/23
0        Stephen Curry  48070014
1            John Wall  47345760
2    Russell Westbrook  47080179
3         LeBron James  44474988
4         Kevin Durant  44119845
..                 ...       ...
548       Olivier Sarr     90665
549      Stanley Umude     58493
550     Jamaree Bouyea     58493
551         DJ Steward     50000
552      Armoni Brooks     50000

[553 rows x 2 columns]

In [31]:
perGame.head(15)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,23,TOR,38,11,23.3,3.9,8.1,...,0.689,2.0,4.6,6.6,1.0,0.6,0.7,1.2,2.1,10.2
1,2,Steven Adams,C,29,MEM,42,42,27.0,3.7,6.3,...,0.364,5.1,6.5,11.5,2.3,0.9,1.1,1.9,2.3,8.6
2,3,Bam Adebayo,C,25,MIA,56,56,35.1,8.5,15.7,...,0.799,2.6,7.2,9.9,3.3,1.2,0.8,2.5,2.8,21.4
3,4,Ochai Agbaji,SG,22,UTA,39,2,15.6,1.8,3.8,...,0.682,0.7,1.1,1.8,0.6,0.2,0.1,0.3,1.4,5.0
4,5,Santi Aldama,PF,22,MEM,56,18,22.0,3.3,7.0,...,0.729,1.0,3.6,4.6,1.2,0.7,0.7,0.7,1.9,9.4
5,6,Nickeil Alexander-Walker,SG,24,TOT,40,3,14.5,2.3,4.9,...,0.675,0.3,1.4,1.7,2.0,0.6,0.4,1.2,1.5,6.3
6,6,Nickeil Alexander-Walker,SG,24,UTA,36,3,14.7,2.3,4.7,...,0.692,0.2,1.4,1.6,2.1,0.7,0.4,1.3,1.6,6.3
7,6,Nickeil Alexander-Walker,SG,24,MIN,4,0,13.0,2.5,6.0,...,0.000,0.5,1.5,2.0,0.5,0.3,0.5,1.0,0.8,6.3
8,7,Grayson Allen,SG,27,MIL,56,54,27.6,3.4,7.8,...,0.906,0.9,2.5,3.4,2.4,0.8,0.2,1.1,1.6,10.5
9,8,Jarrett Allen,C,24,CLE,57,57,33.2,6.2,9.4,...,0.733,3.2,6.7,9.9,1.6,0.8,1.2,1.5,2.2,14.8
10,9,Jose Alvarado,PG,24,NOP,60,10,21.6,3.3,8.0,...,0.813,0.4,1.9,2.3,3.1,1.1,0.2,1.3,2.1,9.1
11,10,Kyle Anderson,PF,29,MIN,50,34,26.2,3.2,6.3,...,0.764,0.8,4.1,4.8,4.1,1.1,0.9,1.4,2.1,8.6
12,11,Giannis Antetokounmpo,PF,28,MIL,48,48,32.5,11.1,20.7,...,0.646,2.3,9.7,12.0,5.4,0.8,0.8,3.9,3.3,31.3
13,12,Thanasis Antetokounmpo,SF,30,MIL,26,0,4.1,0.2,0.8,...,0.500,0.3,0.7,1.0,0.2,0.1,0.1,0.3,0.5,0.5
14,13,Cole Anthony,PG,22,ORL,41,3,24.7,4.2,9.5,...,0.890,0.6,4.0,4.6,4.1,0.6,0.6,1.5,2.5,12.0

In [32]:
advancedStats.head(15)

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Column1,OWS,DWS,WS,WS/48,2,OBPM,DBPM,BPM,VORP
0,1,Precious Achiuwa,C,23,TOR,38,884,15.0,0.550,0.251,...,NaN,0.6,1.0,1.6,0.089,NaN,-1.6,-0.9,-2.5,-0.1
1,2,Steven Adams,C,29,MEM,42,1133,17.6,0.564,0.004,...,NaN,1.3,2.2,3.4,0.146,NaN,-0.3,0.9,0.6,0.8
2,3,Bam Adebayo,C,25,MIA,56,1965,21.0,0.590,0.014,...,NaN,2.9,3.2,6.1,0.150,NaN,1.1,1.0,2.1,2.0
3,4,Ochai Agbaji,SG,22,UTA,39,610,9.2,0.614,0.611,...,NaN,0.8,0.2,1.0,0.075,NaN,-1.3,-1.3,-2.6,-0.1
4,5,Santi Aldama,PF,22,MEM,56,1232,14.6,0.599,0.533,...,NaN,1.8,2.0,3.7,0.146,NaN,0.1,1.3,1.4,1.0
5,6,Nickeil Alexander-Walker,SG,24,TOT,40,580,12.9,0.598,0.500,...,NaN,0.3,0.5,0.8,0.067,NaN,-0.7,0.8,0.1,0.3
6,6,Nickeil Alexander-Walker,SG,24,UTA,36,528,13.2,0.609,0.512,...,NaN,0.4,0.5,0.8,0.077,NaN,-0.5,1.0,0.5,0.3
7,6,Nickeil Alexander-Walker,SG,24,MIN,4,52,9.4,0.511,0.417,...,NaN,-0.1,0.0,0.0,-0.039,NaN,-2.7,-1.7,-4.4,0.0
8,7,Grayson Allen,SG,27,MIL,56,1546,12.4,0.614,0.638,...,NaN,2.3,1.9,4.2,0.129,NaN,-0.5,0.7,0.1,0.8
9,8,Jarrett Allen,C,24,CLE,57,1890,20.2,0.679,0.017,...,NaN,4.8,3.3,8.1,0.207,NaN,1.5,0.9,2.4,2.1
10,9,Jose Alvarado,PG,24,NOP,60,1295,11.9,0.525,0.506,...,NaN,0.2,1.5,1.7,0.064,NaN,-1.9,0.5,-1.4,0.2
11,10,Kyle Anderson,PF,29,MIN,50,1311,14.6,0.593,0.226,...,NaN,1.6,1.8,3.4,0.124,NaN,-0.1,2.3,2.2,1.4
12,11,Giannis Antetokounmpo,PF,28,MIL,48,1561,28.4,0.595,0.142,...,NaN,3.5,3.0,6.5,0.200,NaN,5.5,2.6,8.0,4.0
13,12,Thanasis Antetokounmpo,SF,30,MIL,26,106,2.2,0.298,0.200,...,NaN,-0.3,0.2,-0.1,-0.046,NaN,-8.9,-0.9,-9.7,-0.2
14,13,Cole Anthony,PG,22,ORL,41,1012,15.9,0.558,0.339,...,NaN,1.3,1.1,2.4,0.112,NaN,0.8,0.7,1.5,0.9

In [ ]:
#now join together the advancedStats