<a href="https://colab.research.google.com/github/mnocerino23/NBA-Player-Classifier/blob/main/22_23_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load in individual player stats for the 2022-2023 NBA season from basketball reference

2022-23 NBA Player Stats Per Game:
 https://www.basketball-reference.com/leagues/NBA_2023_per_game.html


2022-23 NBA Player Advanced Stats: https://www.basketball-reference.com/leagues/NBA_2023_advanced.html

Salary data from Hoopshype: https://hoopshype.com/salaries/players/

In [365]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [366]:
salaries = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/NBA/2022-2023Salaries.csv')
perGame = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/NBA/perGame2223.csv')
advancedStats = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/NBA/advanced2223.csv')

In [367]:
salaries.columns

Index(['Rk', 'Player', 'Tm', 'Salary 2022-23'], dtype='object')

In [368]:
#drop empty columns from the 2022-2023 salaries dataset
#salaries.drop(columns = ["Column1", "Column2", "Column3", "Column4", "Column5", "Column6"], inplace = True)

In [369]:
perGame.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'Player-additional'],
      dtype='object')

In [370]:
perGame.tail(10)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
668,669,James Wiseman,C,21,DET,24,22,25.2,5.4,10.2,...,2.3,5.8,8.1,0.7,0.2,0.8,1.5,2.9,12.7,wisemja01
669,670,Christian Wood,C,27,DAL,67,17,25.9,5.9,11.5,...,1.3,6.0,7.3,1.8,0.4,1.1,1.8,2.5,16.6,woodch01
670,671,Delon Wright,PG,30,WAS,50,14,24.4,2.8,5.8,...,1.2,2.4,3.6,3.9,1.8,0.3,0.9,1.2,7.4,wrighde01
671,672,McKinley Wright IV,PG,24,DAL,27,1,12.4,1.7,3.6,...,0.3,1.4,1.7,2.1,0.3,0.2,0.7,0.9,4.2,wrighmc01
672,673,Gabe York,SG,29,IND,3,0,18.7,2.7,7.0,...,0.0,2.0,2.0,1.7,0.7,0.0,0.0,1.7,8.0,yorkga01
673,674,Thaddeus Young,PF,34,TOR,54,9,14.7,2.0,3.7,...,1.3,1.8,3.1,1.4,1.0,0.1,0.8,1.6,4.4,youngth01
674,675,Trae Young,PG,24,ATL,73,73,34.8,8.2,19.0,...,0.8,2.2,3.0,10.2,1.1,0.1,4.1,1.4,26.2,youngtr01
675,676,Omer Yurtseven,C,24,MIA,9,0,9.2,1.8,3.0,...,0.9,1.7,2.6,0.2,0.2,0.2,0.4,1.8,4.4,yurtsom01
676,677,Cody Zeller,C,30,MIA,15,2,14.5,2.5,3.9,...,1.7,2.6,4.3,0.7,0.2,0.3,0.9,2.2,6.5,zelleco01
677,678,Ivica Zubac,C,25,LAC,76,76,28.6,4.3,6.8,...,3.1,6.8,9.9,1.0,0.4,1.3,1.5,2.9,10.8,zubaciv01

In [371]:
advancedStats.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'Unnamed: 19', 'OWS', 'DWS', 'WS', 'WS/48', 'Unnamed: 24', 'OBPM',
       'DBPM', 'BPM', 'VORP', 'Player-additional'],
      dtype='object')

In [372]:
#drop repeated columns and change name of games and player columns so that we can double check our join
advancedStats.drop(['Rk', 'Age' ,'Pos', 'Tm', 'MP'], axis = 1, inplace = True)
advancedStats.rename(columns={'G': 'Games'}, inplace = True)
advancedStats.rename(columns={'Player': 'Name'}, inplace = True)

In [373]:
advancedStats.tail(15)

,Name,Games,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,...,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP,Player-additional
663,Zion Williamson,29,25.2,0.652,0.041,0.529,6.9,17.0,12.0,24.4,...,2.3,1.2,3.6,0.180,NaN,4.8,1.0,5.8,1.9,willizi01
664,Dylan Windler,3,19.0,0.833,0.667,0.000,0.0,0.0,0.0,15.2,...,0.0,0.0,0.0,0.149,NaN,3.2,3.5,6.7,0.0,windldy01
665,Justise Winslow,29,9.3,0.466,0.227,0.141,7.2,14.3,10.7,17.2,...,-0.1,0.5,0.4,0.022,NaN,-3.5,0.7,-2.8,-0.2,winslju01
666,James Wiseman,45,15.6,0.589,0.059,0.286,9.2,25.2,17.0,5.5,...,0.7,0.7,1.4,0.077,NaN,-2.1,-1.4,-3.5,-0.3,wisemja01
667,James Wiseman,21,17.1,0.655,0.021,0.404,7.7,22.7,15.3,8.0,...,0.5,0.3,0.8,0.144,NaN,-1.3,-0.5,-1.7,0.0,wisemja01
668,James Wiseman,24,15.0,0.563,0.073,0.241,9.8,26.3,17.8,4.4,...,0.2,0.4,0.6,0.049,NaN,-2.5,-1.8,-4.3,-0.4,wisemja01
669,Christian Wood,67,20.6,0.624,0.363,0.365,5.8,27.4,16.4,11.7,...,2.7,2.1,4.8,0.132,NaN,1.9,-0.3,1.7,1.6,woodch01
670,Delon Wright,50,16.3,0.581,0.409,0.206,5.5,10.7,8.2,20.9,...,2.1,1.6,3.7,0.146,NaN,0.4,3.1,3.4,1.7,wrighde01
671,McKinley Wright IV,27,12.4,0.536,0.286,0.194,3.1,13.4,8.2,25.2,...,0.2,0.2,0.5,0.069,NaN,-1.9,-0.8,-2.7,-0.1,wrighmc01
672,Gabe York,3,11.8,0.548,0.857,0.095,0.0,11.9,5.9,12.3,...,0.1,0.0,0.1,0.091,NaN,-1.7,-1.8,-3.4,0.0,yorkga01
673,Thaddeus Young,54,14.1,0.573,0.172,0.131,9.4,14.6,11.8,12.9,...,0.7,1.1,1.8,0.109,NaN,-1.8,1.9,0.1,0.4,youngth01
674,Trae Young,73,22.0,0.573,0.331,0.460,2.4,7.0,4.7,42.5,...,5.3,1.4,6.7,0.126,NaN,5.3,-2.0,3.3,3.4,youngtr01
675,Omer Yurtseven,9,16.7,0.675,0.259,0.222,10.9,21.9,16.2,3.9,...,0.2,0.1,0.3,0.159,NaN,-2.5,-1.5,-3.9,0.0,yurtsom01
676,Cody Zeller,15,16.4,0.659,0.034,0.593,13.0,21.8,17.3,7.2,...,0.4,0.3,0.7,0.147,NaN,-2.0,-0.7,-2.8,0.0,zelleco01
677,Ivica Zubac,76,16.7,0.661,0.004,0.463,12.3,26.5,19.5,5.1,...,3.8,2.9,6.7,0.149,NaN,-1.1,0.2,-0.9,0.6,zubaciv01

In [374]:
advancedStats.shape

(678, 25)

In [375]:
perGame.shape

(678, 31)

In [376]:
#now join together the advancedStats (use an inner join)
combined = pd.concat([perGame, advancedStats], axis=1)

In [377]:
combined.shape

(678, 56)

In [378]:
combined.head(15)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP,Player-additional
0,1,Precious Achiuwa,C,23,TOR,55,12,20.7,3.6,7.3,...,0.8,1.4,2.2,0.093,NaN,-1.4,-0.8,-2.3,-0.1,achiupr01
1,2,Steven Adams,C,29,MEM,42,42,27.0,3.7,6.3,...,1.3,2.1,3.4,0.144,NaN,-0.3,0.9,0.6,0.7,adamsst01
2,3,Bam Adebayo,C,25,MIA,75,75,34.6,8.0,14.9,...,3.6,3.8,7.4,0.137,NaN,0.8,0.8,1.5,2.3,adebaba01
3,4,Ochai Agbaji,SG,22,UTA,59,22,20.5,2.8,6.5,...,0.9,0.4,1.3,0.053,NaN,-1.7,-1.4,-3.0,-0.3,agbajoc01
4,5,Santi Aldama,PF,22,MEM,77,20,21.8,3.2,6.8,...,2.1,2.4,4.6,0.130,NaN,-0.3,0.8,0.5,1.1,aldamsa01
5,6,Nickeil Alexander-Walker,SG,24,TOT,59,3,15.0,2.2,5.0,...,0.3,0.8,1.1,0.062,NaN,-1.4,0.4,-0.9,0.2,alexani01
6,7,Nickeil Alexander-Walker,SG,24,UTA,36,3,14.7,2.3,4.7,...,0.3,0.5,0.8,0.074,NaN,-0.6,1.1,0.5,0.3,alexani01
7,8,Nickeil Alexander-Walker,SG,24,MIN,23,0,15.5,2.1,5.4,...,0.0,0.3,0.3,0.044,NaN,-2.4,-0.6,-3.0,-0.1,alexani01
8,9,Grayson Allen,SG,27,MIL,72,70,27.4,3.4,7.7,...,2.8,2.2,5.1,0.123,NaN,-0.6,0.7,0.1,1.0,allengr01
9,10,Jarrett Allen,C,24,CLE,68,68,32.6,5.9,9.2,...,5.5,4.0,9.5,0.205,NaN,1.3,1.0,2.4,2.4,allenja01
10,11,Jose Alvarado,PG,24,NOP,61,10,21.5,3.3,8.0,...,0.1,1.7,1.8,0.066,NaN,-2.0,0.7,-1.2,0.3,alvarjo01
11,12,Kyle Anderson,PF,29,MIN,69,46,28.4,3.7,7.2,...,2.5,2.6,5.1,0.125,NaN,0.2,2.3,2.5,2.2,anderky01
12,13,Giannis Antetokounmpo,PF,28,MIL,63,63,32.1,11.2,20.3,...,4.9,3.7,8.6,0.204,NaN,5.8,2.7,8.5,5.4,antetgi01
13,14,Thanasis Antetokounmpo,SF,30,MIL,37,0,5.6,0.5,1.2,...,-0.1,0.2,0.1,0.022,NaN,-6.5,-1.1,-7.6,-0.3,antetth01
14,15,Cole Anthony,PG,22,ORL,60,4,25.9,4.6,10.2,...,2.1,1.7,3.7,0.116,NaN,0.8,0.5,1.3,1.3,anthoco01

In [379]:
combined.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'Player-additional', 'Name', 'Games', 'PER', 'TS%', '3PAr', 'FTr',
       'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'Unnamed: 19', 'OWS', 'DWS', 'WS', 'WS/48', 'Unnamed: 24', 'OBPM',
       'DBPM', 'BPM', 'VORP', 'Player-additional'],
      dtype='object')

In [380]:
#double check that all entries line up from concat
#for index, row in combined.iterrows():
  #print(combined['Player'][index], combined['Name'][index])
  #print(combined['G'][index], combined['Games'][index])

In [381]:
combined.drop(['Name', 'Player-additional', 'Rk', 'Unnamed: 19', 'Unnamed: 24'], axis = 1, inplace = True)

In [382]:
combined.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,Precious Achiuwa,C,23,TOR,55,12,20.7,3.6,7.3,0.485,...,11.4,19.4,0.8,1.4,2.2,0.093,-1.4,-0.8,-2.3,-0.1
1,Steven Adams,C,29,MEM,42,42,27.0,3.7,6.3,0.597,...,19.8,14.6,1.3,2.1,3.4,0.144,-0.3,0.9,0.6,0.7
2,Bam Adebayo,C,25,MIA,75,75,34.6,8.0,14.9,0.540,...,12.7,25.2,3.6,3.8,7.4,0.137,0.8,0.8,1.5,2.3
3,Ochai Agbaji,SG,22,UTA,59,22,20.5,2.8,6.5,0.427,...,9.0,15.8,0.9,0.4,1.3,0.053,-1.7,-1.4,-3.0,-0.3
4,Santi Aldama,PF,22,MEM,77,20,21.8,3.2,6.8,0.470,...,9.3,16.0,2.1,2.4,4.6,0.130,-0.3,0.8,0.5,1.1

In [383]:
#now for players that switched teams we want to only keep the column with total

In [384]:
traded_players = []

for index, row in combined.iterrows():
  if combined.at[index,'Tm'] == 'TOT':
    traded_players.append(combined.at[index,'Player'])

In [385]:
#traded_players

In [386]:
for index, row in combined.iterrows():
  #if the player was traded and the row does not have team = TOT (the players total season stats), we delete the row
  if combined.at[index,'Player'] in traded_players and combined.at[index,'Tm'] != 'TOT':
    combined.drop(labels = index, axis = 0, inplace = True)
combined = combined.reset_index(drop = 'True')

In [387]:
combined.shape

(538, 50)

In [388]:
combined.tail(5)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
533,Thaddeus Young,PF,34,TOR,54,9,14.7,2.0,3.7,0.545,...,16.7,13.5,0.7,1.1,1.8,0.109,-1.8,1.9,0.1,0.4
534,Trae Young,PG,24,ATL,73,73,34.8,8.2,19.0,0.429,...,15.2,32.6,5.3,1.4,6.7,0.126,5.3,-2.0,3.3,3.4
535,Omer Yurtseven,C,24,MIA,9,0,9.2,1.8,3.0,0.593,...,11.9,18.0,0.2,0.1,0.3,0.159,-2.5,-1.5,-3.9,0.0
536,Cody Zeller,C,30,MIA,15,2,14.5,2.5,3.9,0.627,...,15.8,18.1,0.4,0.3,0.7,0.147,-2.0,-0.7,-2.8,0.0
537,Ivica Zubac,C,25,LAC,76,76,28.6,4.3,6.8,0.634,...,15.9,14.8,3.8,2.9,6.7,0.149,-1.1,0.2,-0.9,0.6

In [389]:
combined.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Age,538.0,25.726766,4.294302,19.000,23.00000,25.0000,28.75000,42.000
G,538.0,48.130112,24.587127,1.000,31.00000,54.5000,68.00000,83.000
GS,538.0,22.862454,27.302902,0.000,1.00000,8.0000,46.75000,83.000
MP,538.0,19.793680,9.554971,1.000,12.42500,19.2000,28.37500,41.000
FG,538.0,3.349442,2.438665,0.000,1.60000,2.6500,4.50000,11.200
FGA,538.0,7.107993,4.961043,0.000,3.40000,5.8000,9.47500,22.200
FG%,536.0,0.464750,0.106042,0.000,0.41700,0.4550,0.50600,1.000
3P,538.0,0.992193,0.872364,0.000,0.30000,0.8000,1.50000,4.900
3PA,538.0,2.787546,2.243628,0.000,1.00000,2.4000,4.10000,11.400
3P%,523.0,0.324952,0.127414,0.000,0.28850,0.3450,0.38550,1.000
2P,538.0,2.358178,1.974195,0.000,0.90000,1.7000,3.30000,10.500
2PA,538.0,4.320818,3.518535,0.000,1.82500,3.2000,6.00000,17.800
2P%,533.0,0.534788,0.131151,0.000,0.48700,0.5370,0.59400,1.000
eFG%,536.0,0.533759,0.101261,0.000,0.49600,0.5380,0.57600,1.000
FT,538.0,1.435502,1.547192,0.000,0.50000,0.9000,1.87500,10.000
FTA,538.0,1.852974,1.880271,0.000,0.60000,1.2000,2.40000,12.300
FT%,514.0,0.754447,0.147019,0.000,0.69125,0.7690,0.84375,1.000
ORB,538.0,0.863941,0.746763,0.000,0.30000,0.7000,1.10000,5.100
DRB,538.0,2.679368,1.773539,0.000,1.40000,2.3000,3.50000,9.600
TRB,538.0,3.543680,2.349422,0.000,1.80000,3.0000,4.50000,12.500
AST,538.0,2.072491,1.932990,0.000,0.80000,1.4000,2.77500,10.700
STL,538.0,0.610781,0.398034,0.000,0.30000,0.6000,0.80000,3.000
BLK,538.0,0.381041,0.383910,0.000,0.10000,0.3000,0.50000,3.000
TOV,538.0,1.105762,0.826304,0.000,0.50000,0.9000,1.50000,4.100
PF,538.0,1.691078,0.789830,0.000,1.20000,1.6000,2.20000,5.000
PTS,538.0,9.124907,6.848331,0.000,4.12500,7.0000,12.10000,33.100
Games,538.0,48.130112,24.587127,1.000,31.00000,54.5000,68.00000,83.000
PER,538.0,13.325836,6.111264,-20.900,10.20000,13.0000,16.37500,65.600
TS%,536.0,0.562785,0.097354,0.000,0.52400,0.5670,0.60925,1.064
3PAr,536.0,0.402608,0.218394,0.000,0.26550,0.4090,0.54850,1.000
FTr,536.0,0.250088,0.180590,0.000,0.14300,0.2285,0.32300,2.000
ORB%,538.0,5.209665,4.269455,0.000,2.10000,3.9000,7.00000,28.800
DRB%,538.0,14.947398,6.538786,0.000,10.70000,13.5000,18.60000,55.400
TRB%,538.0,10.075651,4.699208,0.000,6.72500,8.9000,12.57500,29.600
AST%,538.0,13.504275,8.684576,0.000,7.40000,11.1000,17.75000,47.600
STL%,538.0,1.526394,1.300168,0.000,1.00000,1.4000,1.70000,24.200
BLK%,538.0,1.823792,2.424670,0.000,0.70000,1.2000,2.37500,44.100
TOV%,537.0,12.617505,6.908390,0.000,9.50000,11.9000,15.00000,100.000
USG%,538.0,18.500558,5.866674,0.000,14.42500,17.7000,21.20000,52.500
OWS,538.0,1.216357,1.794330,-1.900,0.00000,0.6000,1.80000,11.200
DWS,538.0,1.121375,0.994064,0.000,0.30000,0.9000,1.80000,4.800
WS,538.0,2.338662,2.579722,-1.600,0.30000,1.6000,3.50000,14.900
WS/48,538.0,0.081809,0.085716,-0.517,0.04625,0.0870,0.12975,0.626
OBPM,538.0,-1.319703,3.515163,-22.500,-2.90000,-1.3000,0.47500,16.500
DBPM,538.0,-0.088476,2.142836,-9.900,-0.90000,-0.1000,0.80000,32.700
BPM,538.0,-1.411152,4.768814,-26.500,-3.30000,-1.3000,0.60000,48.600
VORP,538.0,0.551487,1.219689,-1.300,-0.10000,0.1000,0.80000,8.800

In [390]:
elite = combined.loc[(combined['TS%'] > 0.55) & (combined['DWS'] > 2.5) & (combined['PTS'] > 17) & (combined['3P%'] > 0.35)]

In [391]:
elite.head(20)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
57,Mikal Bridges,SF,26,TOT,83,83,35.7,7.1,15.3,0.468,...,8.2,22.6,4.4,3.1,7.5,0.121,1.6,0.2,1.7,2.8
138,Anthony Edwards,SG,21,MIN,79,79,36.0,8.9,19.5,0.459,...,13.0,29.9,0.2,3.6,3.8,0.064,1.0,0.0,1.0,2.1
155,Darius Garland,PG,23,CLE,69,69,35.5,7.6,16.4,0.462,...,13.5,26.9,4.5,3.0,7.6,0.148,3.2,-0.7,2.4,2.7
188,James Harden,PG,33,PHI,58,58,36.8,6.4,14.5,0.441,...,16.3,25.0,5.8,2.6,8.4,0.188,5.1,0.3,5.4,4.0
212,Jrue Holiday,PG,32,MIL,67,65,32.6,7.3,15.3,0.479,...,15.2,25.0,3.9,2.8,6.7,0.148,3.0,0.1,3.1,2.8
233,Jaren Jackson Jr.,C,23,MEM,63,63,28.4,6.6,13.0,0.506,...,10.1,24.7,2.8,3.8,6.6,0.177,0.7,2.0,2.8,2.2
247,Nikola Jokić,C,27,DEN,69,69,33.7,9.4,14.8,0.632,...,17.0,27.2,11.2,3.8,14.9,0.308,8.5,4.5,13.0,8.8
281,Zach LaVine,SG,27,CHI,77,77,35.9,8.7,18.0,0.485,...,11.0,28.3,4.2,2.9,7.1,0.123,2.7,-0.7,1.9,2.7
336,Donovan Mitchell,SG,26,CLE,68,68,35.8,10.0,20.6,0.484,...,10.3,32.1,5.4,3.5,8.9,0.176,5.6,0.6,6.3,5.0
391,Kristaps Porziņģis,C,27,WAS,65,65,32.6,7.8,15.7,0.498,...,10.2,27.4,5.0,2.7,7.7,0.174,3.8,0.5,4.3,3.4
426,Domantas Sabonis,C,26,SAC,79,79,34.6,7.3,11.9,0.615,...,16.9,21.3,9.6,3.0,12.6,0.221,4.1,1.8,5.8,5.4

In [392]:
for index, row in salaries.iterrows():
  #if the salary is a string (meaning it isn't null), remove $ and commas and caste to float
  if isinstance(salaries.at[index, 'Salary 2022-23'], str) == True:
    instance = salaries.at[index, 'Salary 2022-23']
    #strip the $ and commas from the provided salary
    instance = instance.replace("$", "")
    instance = instance.replace(",", "")
    #convert the salary to a float and divide by 1,000,000 so that the column holds
    #salary in millions
    salaries.at[index, 'Salary 2022-23'] = (float(instance))/1000000

In [393]:
salaries.head(5)

   Rk             Player   Tm Salary 2022-23
0   1      Stephen Curry  GSW      48.070014
1   2  Russell Westbrook  UTA      47.559433
2   3       LeBron James  LAL      44.474988
3   4       Kevin Durant  PHO      44.119845
4   5       Bradley Beal  WAS       43.27925

In [394]:
#drop the Rk column from salaries
salaries.drop(columns = ['Rk'], axis = 1, inplace = True)

In [395]:
#29 players are missing salaries
salaries['Salary 2022-23'].isna().sum()

29

# Now, we just need to add on 2022-2023 season salary onto each entry

In [396]:
#create a dictionary holding a map from player name to salary
salaryDict = dict(zip(salaries['Player'], (salaries['Salary 2022-23'])))

In [397]:
combined.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Games', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM',
       'VORP'],
      dtype='object')

# We are able to fill a large portion of the salaries using the salaryDict dictionary. However, around 20 players still need to be assigned a salary

In [398]:
combined['Salary'] = ''
for index, row in combined.iterrows():
  if combined.at[index,'Player'] in salaryDict.keys():
    combined.at[index, 'Salary'] = salaryDict[combined.at[index, 'Player']]

In [399]:
#there are only 20 null values that need to be filled in
combined['Salary'].isna().sum()

20

# Export the combined dataset to a csv and then filling in the remaining columns using data entry

In [400]:
combined.to_csv('combined2022-2023.csv', header = True, index = False )