<a href="https://colab.research.google.com/github/mnocerino23/NBA-Player-Classifier/blob/main/NBA_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Start by reading in datasets containing NBA indiviual per game and advanced stats in addition to salaries for the upcoming 2022-2023 (Following this past Free Agency)


1.   Salaries2022-2023.csv - contains NBA player salaries from the 2022-2023 season (Source: https://hoopshype.com/salaries/players/)
2.   2021-2022PerGameStats.csv - contains NBA player per game stats from the 2021-2022 season (Source: https://www.basketball-reference.com/leagues/NBA_2022_per_game.html)
3.   2021-2022AdvancedStats.csv - contains NBA player advanced stats for the 2021-2022 season (Source: https://www.basketball-reference.com/leagues/NBA_2022_advanced.html)

In [257]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')


nba_salaries = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/NBA/Salaries2022-2023.csv')
stats_pergame = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/NBA/2021-2022PerGameStats.csv')
stats_advanced = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/NBA/2021-2022AdvancedStats.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [258]:
nba_salaries = nba_salaries.drop(['Unnamed: 0'], axis = 1)
nba_salaries.rename(columns={'Unnamed: 1': 'Name', '22/23': 'Salary'}, inplace = True)
nba_salaries.head(3)

                Name    Salary       23/24     24/25     25/26  26/27  27/28
0      Stephen Curry  48070014  51915615.0  55761217  59606817      0      0
1          John Wall  47345760   6802950.0         0         0      0      0
2  Russell Westbrook  47063478         0.0         0         0      0      0

In [259]:
#convert the 22/23 salary to millions
#first we must cast the salary type to float so that we can get decimals when we divide all by 1,000,000

nba_salaries = nba_salaries.astype({'Salary':'float'})

In [260]:
for index, row in nba_salaries.iterrows():
  nba_salaries.at[index, 'Salary'] =  nba_salaries.at[index, 'Salary'] * (1/1000000)

In [261]:
nba_salaries = nba_salaries[['Name','Salary']]
nba_salaries.head(10)

                    Name     Salary
0          Stephen Curry  48.070014
1              John Wall  47.345760
2      Russell Westbrook  47.063478
3           LeBron James  44.474988
4           Kevin Durant  44.119845
5           Bradley Beal  43.279250
6            Paul George  42.492568
7          Kawhi Leonard  42.492492
8  Giannis Antetokounmpo  42.492492
9         Damian Lillard  42.492492

In [262]:
nba_salaries.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Salary,521.0,8.573552,10.454204,0.092857,1.846738,3.9186,10.900634,48.070014

# Create a Dictionary Mapping Player Name to 2022-2023 Salary

In [263]:
season_salaries = dict(zip(nba_salaries['Name'],nba_salaries['Salary']))
print(season_salaries)

{'Stephen Curry': 48.070014, 'John Wall': 47.34576, 'Russell Westbrook': 47.063477999999996, 'LeBron James': 44.474987999999996, 'Kevin Durant': 44.119845, 'Bradley Beal': 43.27925, 'Paul George': 42.492568, 'Kawhi Leonard': 42.492492, 'Giannis Antetokounmpo': 42.492492, 'Damian Lillard': 42.492492, 'Klay Thompson': 40.60008, 'Rudy Gobert': 38.172413999999996, 'Khris Middleton': 37.984276, 'Anthony Davis': 37.98072, 'Jimmy Butler': 37.6533, 'Tobias Harris': 37.63305, 'Trae Young': 37.0965, 'Zach LaVine': 37.0965, 'Luka Doncic': 37.0965, 'Kyrie Irving': 36.93455, 'Kemba Walker': 36.596548999999996, 'Ben Simmons': 35.448671999999995, 'Pascal Siakam': 35.448671999999995, 'Karl-Anthony Towns': 33.8334, 'Devin Booker': 33.8334, 'Kristaps Porzingis': 33.8334, 'Jrue Holiday': 33.66504, 'Joel Embiid': 33.616769999999995, 'Andrew Wiggins': 33.616769999999995, 'CJ McCollum': 33.333332999999996, 'Nikola Jokic': 33.047803, 'James Harden': 33.0, 'Jamal Murray': 31.650599999999997, 'Brandon Ingram': 31.650599999999997, "D'Angelo Russell": 31.37775, 'Michael Porter': 30.91375, 'Shai Gilgeous-Alexander': 30.91375, 'Deandre Ayton': 30.91375, 'Jayson Tatum': 30.351779999999998, 'Bam Adebayo': 30.351779999999998, "De'Aaron Fox": 30.351779999999998, 'Donovan Mitchell': 30.351779999999998, 'Gordon Hayward': 30.075, 'Jaren Jackson Jr': 28.946604999999998, 'Kevin Love': 28.942829999999997, 'Jaylen Brown': 28.741070999999998, 'Chris Paul': 28.4, 'Kyle Lowry': 28.333333999999997, 'Jalen Brunson': 27.733331999999997, 'DeMar DeRozan': 27.299999999999997, 'Al Horford': 26.5, 'Draymond Green': 25.806468, 'Julius Randle': 23.759999999999998, 'John Collins': 23.5, 'Mike Conley': 22.68, 'Malcolm Brogdon': 22.599999999999998, 'Anfernee Simons': 22.321429, 'Nikola Vucevic': 22.0, 'Terry Rozier': 21.486316, 'Fred VanVleet': 21.25, 'Buddy Hield': 21.17775, 'Jerami Grant': 20.955, 'Spencer Dinwiddie': 20.171426999999998, 'Mikal Bridges': 20.099999999999998, 'Jarrett Allen': 20.0, 'Nicolas Batum': 19.700319, 'Aaron Gordon': 19.690908999999998, 'Tim Hardaway Jr': 19.602273, 'Eric Gordon': 19.56836, 'Bojan Bogdanovic': 19.55, 'Lonzo Ball': 19.534883999999998, 'Danilo Gallinari': 19.479, 'Caris LeVert': 18.796295999999998, 'Clint Capela': 18.706896, 'Joe Harris': 18.642857, 'Domantas Sabonis': 18.5, 'Harrison Barnes': 18.352273, 'Evan Fournier': 18.0, 'Bogdan Bogdanovic': 18.0, 'Myles Turner': 18.0, 'Steven Adams': 17.926828999999998, 'Gary Trent Jr': 17.505, 'Jonathan Isaac': 17.4, 'OG Anunoby': 17.357143, 'Marcus Smart': 17.207141999999997, 'Mitchell Robinson': 17.045454, 'Duncan Robinson': 16.901999999999997, 'Derrick White': 16.892857, 'Norman Powell': 16.758620999999998, 'Dejounte Murray': 16.57112, 'Markelle Fultz': 16.5, 'Lauri Markkanen': 16.475454, 'Marcus Morris': 16.372093, 'Davis Bertans': 16.0, 'Jusuf Nurkic': 15.625, 'Malik Beasley': 15.558034999999999, 'Luguentz Dort': 15.277778, 'Tyus Jones': 15.0, 'Jonas Valanciunas': 14.7, 'Derrick Rose': 14.520729999999999, 'Kevin Huerter': 14.508929, 'Will Barton': 14.375, 'Christian Wood': 14.317459, 'Wendell Carter': 14.149999999999999, 'Kentavious Caldwell-Pope': 14.004703, 'Brook Lopez': 13.906976, 'Doug McDermott': 13.75, 'Luke Kennard': 13.745455, 'Zion Williamson': 13.534816999999999, 'Jordan Clarkson': 13.34, 'Gary Harris': 13.0, 'Kyle Kuzma': 13.0, 'Patrick Beverley': 13.0, 'Josh Hart': 12.959999999999999, 'Kelly Olynyk': 12.804877999999999, 'Chris Boucher': 12.69, 'Kelly Oubre': 12.6, 'Marvin Bagley': 12.5, 'Dorian Finney-Smith': 12.402, 'Robert Covington': 12.307692, 'Josh Richardson': 12.196093999999999, 'Ja Morant': 12.119439999999999, 'Devonte Graham': 11.549999999999999, 'Terrence Ross': 11.5, 'Dillon Brooks': 11.4, 'Richaun Holmes': 11.215259999999999, 'Reggie Jackson': 11.215259999999999, 'Dwight Powell': 11.080124999999999, 'Paolo Banchero': 11.055119999999999, 'Robert Williams': 10.937502, 'RJ Barrett': 10.900634, 'Bobby Portis': 10.84335, 'DeAndre Jordan': 10.733758, 'Anthony Edwards': 10.7334, 'Cade Cunningham': 10.5528, 'PJ Tucker': 10.49, 'Mo Bamba': 10.299999999999999, 'Talen Horton-Tucker': 10.26, 'Derrick Favors': 10.1838, 'Jae Crowder': 10.1838, 'Ivica Zubac': 10.123457, 'Reggie Bullock': 10.0128, 'Alec Burks': 10.0128, 'Danny Green': 10.0, 'Chet Holmgren': 9.89124, "De'Andre Hunter": 9.835880999999999, 'Larry Nance Jr': 9.672727, 'James Wiseman': 9.60336, 'Landry Shamet': 9.5, 'Malik Monk': 9.472218999999999, 'Jalen Green': 9.44184, 'Jakob Poeltl': 9.398147999999999, 'Nerlens Noel': 9.24, 'Dario Saric': 9.24, "Royce O'Neale": 9.2, 'Monte Morris': 9.125, 'Mason Plumlee': 9.080416999999999, 'Alex Caruso': 9.03, 'Maxi Kleber': 9.0, 'Darius Garland': 8.920793999999999, 'Jabari Smith': 8.88264, 'Kyle Anderson': 8.780488, 'Victor Oladipo': 8.75, 'Daniel Theis': 8.694369, 'LaMelo Ball': 8.62392, 'Nicolas Claxton': 8.5, 'Grayson Allen': 8.5, 'Seth Curry': 8.496653, 'Evan Mobley': 8.47872, 'Gary Payton II': 8.299999999999999, "De'Anthony Melton": 8.25, 'JaMychal Green': 8.2, 'TJ McConnell': 8.1, 'Keegan Murray': 8.00844, 'Kevon Looney': 8.0, 'Thaddeus Young': 8.0, 'Isaiah Hartenstein': 7.804879, 'Delon Wright': 7.8048779999999995, 'Patrick Williams': 7.775399999999999, 'Scottie Barnes': 7.6446, 'Dewayne Dedmon': 7.448674, 'Cedi Osman': 7.426088, 'Coby White': 7.413955, 'Zach Collins': 7.35, 'Taurean Prince': 7.295, 'Jaden Ivey': 7.252199999999999, "Jae'Sean Tate": 7.065217, 'Isaac Okoro': 7.04088, 'Cody Martin': 7.0, 'Jalen Suggs': 6.92232, 'Jaxson Hayes': 6.803012, 'Khem Birch': 6.6674999999999995, 'Bennedict Mathurin': 6.586799999999999, 'Patrick Mills': 6.479, 'Bruce Brown': 6.479, 'Caleb Martin': 6.479, 'Lonnie Walker': 6.479, 'Joe Ingles': 6.479, 'Onyeka Okongwu': 6.39516, 'Justin Holiday': 6.29244, 'Josh Giddey': 6.2874, 'Rui Hachimura': 6.2631879999999995, 'Rudy Gay': 6.1845, 'Jevon Carter': 6.0249999999999995, 'Shaedon Sharpe': 6.01296, 'Cameron Payne': 6.0, 'Otto Porter': 6.0, 'Cam Reddish': 5.954454, 'Cameron Johnson': 5.887899, 'Ricky Rubio': 5.8536589999999995, 'Killian Hayes': 5.837759999999999, 'PJ Washington': 5.808434999999999, 'Jonathan Kuminga': 5.73984, 'Pat Connaughton': 5.728393, 'Tyler Herro': 5.722116, 'Romeo Langford': 5.634257, 'Dyson Daniels': 5.5085999999999995, 'JaVale McGee': 5.461219, 'Obi Toppin': 5.34828, 'Franz Wagner': 5.25828, 'Kendrick Nunn': 5.25, 'Hamidou Diallo': 5.2, 'Cory Joseph': 5.1555, 'Garrett Temple': 5.1555, 'Torrey Craig': 5.121951, 'Jeremy Sochan': 5.06352, 'David Nwaba': 5.021999999999999, 'Nickeil Alexander-Walker': 5.009633, 'Furkan Korkmaz': 5.0, 'Deni Avdija': 4.91616, 'Davion Mitchell': 4.8336, 'Johnny Davis': 4.81032, 'Goga Bitadze': 4.765339, 'Ishmael Smith': 4.725, 'Jalen Smith': 4.67016, 'Ziaire Williams': 4.59168, 'Ousmane Dieng': 4.56984, 'Moe Harkless': 4.564979999999999, 'Donte DiVincenzo': 4.5, 'Jeff Green': 4.5, 'Devin Vassell': 4.436999999999999, 'Matisse Thybulle': 4.379525999999999, 'Jarred Vanderbilt': 4.374, 'James Bouknight': 4.36224, 'Brandon Clarke': 4.343919, 'Jalen Williams': 4.34148, 'Grant Williams': 4.306281, 'Darius Bazley': 4.264628, 'Ty Jerome': 4.220057, 'Tyrese Haliburton': 4.21512, 'Nassir Little': 4.171548, 'Josh Primo': 4.14432, 'Jalen Duren': 4.12428, 'Danuel House': 4.1049999999999995, 'Justise Winslow': 4.097561, 'Dylan Windler': 4.037277, 'Kira Lewis': 4.00428, 'George Hill': 4.0, 'Terence Davis': 4.0, 'Chris Duarte': 3.93696, 'Alex Len': 3.9185999999999996, 'Ochai Agbaji': 3.91836, 'Jordan Poole': 3.9013989999999996, 'Keldon Johnson': 3.873024, 'Aaron Nesmith': 3.80436, 'Moses Moody': 3.74016, 'Mark Williams': 3.72204, 'Cole Anthony': 3.61368, 'Corey Kispert': 3.5528399999999998, 'AJ Griffin': 3.5361599999999997, 'Boban Marjanovic': 3.5, 'Mike Muscala': 3.5, 'Georges Niang': 3.465, 'Isaiah Stewart': 3.4333199999999997, 'Chuma Okeke': 3.4333199999999997, 'Trey Burke': 3.4237499999999996, 'Amir Coffey': 3.395062, 'Alperen Sengun': 3.3753599999999997, 'Tari Eason': 3.3591599999999997, 'Aleksej Pokusevski': 3.2614799999999997, 'Kevin Porter': 3.217631, 'Trey Murphy': 3.20652, 'Simone Fontecchio': 3.2051279999999998, 'Andre Drummond': 3.1999999999999997, 'Derrick Jones': 3.1999999999999997, 'Dalen Terry': 3.1914, 'Josh Green': 3.0984, 'Jake LaRavia': 3.04764, 'Tre Mann': 3.0462, 'Kevin Knox': 3.0, 'Sterling Brown': 3.0, 'Saddiq Bey': 2.9590799999999997, 'Malaki Branham': 2.9255999999999998, 'Kai Jones': 2.90904, 'Goran Dragic': 2.9058509999999997, 'Robin Lopez': 2.9058509999999997, 'Serge Ibaka': 2.9058509999999997, 'Wesley Matthews': 2.9058509999999997, 'Austin Rivers': 2.9058509999999997, 'Bismack Biyombo': 2.9058509999999997, 'Gorgui Dieng': 2.9058509999999997, 'Taj Gibson': 2.9058509999999997, 'Andrew Nicholson': 2.844429, 'Precious Achiuwa': 2.84016, 'Christian Braun': 2.8085999999999998, 'Jalen Johnson': 2.79264, 'Tyrese Maxey': 2.72688, 'Walker Kessler': 2.6963999999999997, 'Keon Johnson': 2.68104, 'TJ Warren': 2.628597, 'Matthew Dellavedova': 2.628597, 'Trey Lyles': 2.625, 'Zeke Nnaji': 2.6178, 'David Roddy': 2.58864, 'Isaiah Jackson': 2.57376, 'MarJon Beauchamp': 2.4852, 'Usman Garuba': 2.47116, 'Leandro Bolmaro': 2.47116, 'Frank Kaminsky': 2.4634899999999997, 'Raul Neto': 2.4634899999999997, 'Willy Hernangomez': 2.443581, 'RJ Hampton': 2.41284, 'Blake Wesley': 2.38548, 'Josh Christopher': 2.37216, 'Stanley Johnson': 2.351521, 'Immanuel Quickley': 2.31624, 'Wendell Moore': 2.30652, 'John Konchar': 2.3, 'Damian Jones': 2.2983849999999997, 'Rodney McGruder': 2.2983849999999997, 'Bryn Forbes': 2.2983849999999997, 'Juan Hernangomez': 2.2983849999999997, 'Quentin Grimes': 2.2769999999999997, 'Andrew Nembhard': 2.2441109999999997, 'Nikola Jovic': 2.2399199999999997, 'Payton Pritchard': 2.2392, 'Vlatko Cancar': 2.234359, 'Patrick Baldwin': 2.226, 'TyTy Washington': 2.21004, 'Bones Hyland': 2.20152, 'Bol Bol': 2.1999999999999997, 'Peyton Watson': 2.1939599999999997, 'Marquese Chriss': 2.19392, 'Udoka Azubuike': 2.17488, 'Jaden McDaniels': 2.16144, 'Jordan McLaughlin': 2.1599999999999997, 'Malachi Flynn': 2.14572, 'Cam Thomas': 2.13816, 'Luke Kornet': 2.133278, 'DJ Wilson': 2.133278, 'Juan Toscano-Anderson': 2.133278, 'Damion Lee': 2.133278, 'Desmond Bane': 2.1302399999999997, 'Jaden Springer': 2.1252, "Day'Ron Sharpe": 2.10948, 'Santiago Aldama': 2.0941199999999998, 'Tony Bradley': 2.036318, 'Frank Ntilikina': 2.036318, 'Kenrich Williams': 2.0, 'Garrison Mathews': 2.0, 'Jaylin Williams': 2.0, 'Jeremiah Robinson-Earl': 2.0, 'Shake Milton': 1.9977179999999999, 'Edmond Sumner': 1.968175, 'Aaron Holiday': 1.968175, 'Theo Pinson': 1.968175, 'Troy Brown': 1.968175, 'Thomas Bryant': 1.968175, 'Josh Okogie': 1.968175, 'Drew Eubanks': 1.968175, 'Daniel Gafford': 1.9306809999999999, 'Terance Mann': 1.9306809999999999, 'Jalen McDaniels': 1.9306809999999999, 'Dean Wade': 1.9306809999999999, 'Jaylen Nowell': 1.9306809999999999, 'Naz Reid': 1.9306809999999999, 'Isaiah Roby': 1.9306809999999999, 'Chimezie Metu': 1.91086, 'Davon Reed': 1.9021329999999999, 'Bruno Fernando': 1.9021329999999999, 'Moses Brown': 1.9021329999999999, 'Norvel Pelle': 1.9021329999999999, 'Killian Tillie': 1.901625, 'Theo Maledon': 1.9, 'Wenyen Gabriel': 1.87872, 'Thanasis Antetokounmpo': 1.87872, 'Moritz Wagner': 1.87872, 'Keita Bates-Diop': 1.87872, 'Sviatoslav Mykhailiuk': 1.87872, 'Didi Louzada': 1.8762219999999998, 'Oshae Brissett': 1.846738, 'Sam Merrill': 1.83609, 'Anthony Gill': 1.83609, 'Luca Vildoza': 1.83609, 'CJ Elleby': 1.83609, 'Nathan Knight': 1.83609, 'Javonte Green': 1.815677, 'Max Strus': 1.815677, 'Gabe Vincent': 1.815677, 'Herb Jones': 1.785, 'Lamar Stevens': 1.782621, 'KJ Martin': 1.782621, 'Nick Richards': 1.782621, 'Tyrell Terry': 1.782621, 'Xavier Tillman': 1.782621, 'Naji Marshall': 1.782621, 'Isaiah Joe': 1.782621, 'Paul Reed': 1.782621, 'Tre Jones': 1.782621, 'Vernon Carey': 1.782621, 'Devin Cannady': 1.752638, 'Saben Lee': 1.752638, 'Omer Yurtseven': 1.752638, 'Jericho Sims': 1.639842, 'Sam Hauser': 1.637966, 'Trevelin Queen': 1.637966, 'Justin Champagnie': 1.637966, 'Kessler Edwards': 1.637966, 'McKinley Wright': 1.637966, 'Mac McClung': 1.637966, 'Xavier Moon': 1.637966, 'Jay Huff': 1.637966, 'Lindell Wigginton': 1.637966, 'Isaiah Todd': 1.575, 'JT Thor': 1.563518, 'Marko Simonovic': 1.563518, 'Terry Taylor': 1.563518, 'BJ Boston': 1.563518, 'Jason Preston': 1.563518, 'Vit Krejci': 1.563518, 'Aaron Wiggins': 1.563518, 'Charles Bassey': 1.563518, 'Trendon Watford': 1.563518, 'Ayo Dosunmu': 1.563518, 'Isaiah Livers': 1.563518, 'Daishen Nix': 1.563518, 'Austin Reaves': 1.563518, 'Jose Alvarado': 1.563518, 'Miles McBride': 1.563518, 'Jock Landale': 1.563518, 'Greg Brown': 1.563518, 'Dalano Banton': 1.563518, 'Jared Butler': 1.563518, 'Eric Bledsoe': 1.3, 'Kennedy Chandler': 1.2, 'Zhaire Smith': 1.0682, 'Tyrese Martin': 1.017781, 'Jaden Hardy': 1.017781, 'Ryan Rollins': 1.017781, 'Max Christie': 1.017781, 'Josh Minott': 1.017781, 'Jabari Walker': 1.017781, 'Chima Moneke': 1.017781, 'Javon Freeman-Liberty': 1.017781, 'Mouhamadou Gueye': 1.017781, 'Adonis Arms': 1.017781, 'Kellan Grady': 1.017781, 'Pat Spencer': 1.017781, 'Trevion Williams': 1.017781, 'Javante McCoy': 1.017781, 'Fabian White': 1.017781, 'Jamaree Bouyea': 1.017781, 'Jamal Cain': 1.017781, 'Orlando Robinson': 1.017781, 'Isaiah Miller': 1.017781, 'Jared Rhoden': 1.017781, 'Gabe Brown': 1.017781, 'Matur Maker': 1.017781, 'Kyle Singler': 0.9992, 'Nik Stauskas': 0.702311, 'Juwan Morgan': 0.57623, 'Malik Fitts': 0.555217, 'Cole Swider': 0.508891, 'Vince Williams Jr': 0.508891, 'Kevon Harris': 0.508891, 'JD Davison': 0.508891, 'Mfiondu Kabengele': 0.508891, 'Alondes Williams': 0.508891, 'Bryce McGowens': 0.508891, 'Justin Lewis': 0.508891, 'Isaiah Mobley': 0.508891, 'RJ Nembhard': 0.508891, 'Collin Gillespie': 0.508891, 'Jack White': 0.508891, 'Buddy Boeheim': 0.508891, 'Lester Quinones': 0.508891, 'Quinndary Weatherspoon': 0.508891, 'Trevor Hudgins': 0.508891, 'Moussa Diabate': 0.508891, 'Scottie Pippen Jr': 0.508891, 'Kenneth Lofton': 0.508891, 'Darius Days': 0.508891, 'Marcus Garrett': 0.508891, 'AJ Green': 0.508891, 'AJ Lawson': 0.508891, 'Eric Paschall': 0.508891, 'Trevor Keels': 0.508891, 'Eugene Omoruyi': 0.508891, 'Admiral Schofield': 0.508891, 'Julian Champagnie': 0.508891, 'Duane Washington Jr': 0.508891, 'Keon Ellis': 0.508891, 'Neemias Queta': 0.508891, 'Dominick Barlow': 0.508891, 'Jordan Hall': 0.508891, 'Jeff Dowtin': 0.508891, 'Ron Harper Jr': 0.508891, 'Johnny Juzang': 0.508891, 'Chaundee Brown': 0.50208, 'Braxton Key': 0.50208, 'Sandro Mamukelashvili': 0.50208, 'Feron Hunt': 0.50208, 'Lindy Waters III': 0.50208, 'Charlie Brown': 0.50208, 'Brandon Williams': 0.50208, 'Xavier Sneed': 0.50208, 'Jordan Schakel': 0.50208, 'DJ Augustin': 0.333333, 'Ishmail Wainright': 1.7013049999999998, 'Troy Williams': 0.12274099999999999, 'Demetrius Jackson': 0.092857}

# Now take a look at the other two datasets. We will eventually combine them into one larger stats dataframe

In [264]:
stats_pergame.columns

Index(['0', 'Player', 'Position', 'Age', 'Team', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [265]:
stats_pergame = stats_pergame.drop(['0'], axis = 1)
stats_pergame.head(10)

,Player,Position,Age,Team,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,0.439,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,0.547,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,0.557,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,0.402,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,0.550,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9
5,Nickeil Alexander-Walker,SG,23,TOT,65,21,22.6,3.9,10.5,0.372,...,0.743,0.6,2.3,2.9,2.4,0.7,0.4,1.4,1.6,10.6
6,Nickeil Alexander-Walker,SG,23,NOP,50,19,26.3,4.7,12.6,0.375,...,0.722,0.7,2.6,3.3,2.8,0.8,0.4,1.7,1.8,12.8
7,Nickeil Alexander-Walker,SG,23,UTA,15,2,9.9,1.1,3.2,0.333,...,0.917,0.1,1.5,1.5,1.1,0.3,0.3,0.5,1.0,3.5
8,Grayson Allen,SG,26,MIL,66,61,27.3,3.9,8.6,0.448,...,0.865,0.5,2.9,3.4,1.5,0.7,0.3,0.7,1.5,11.1
9,Jarrett Allen,C,23,CLE,56,56,32.3,6.6,9.7,0.677,...,0.708,3.4,7.3,10.8,1.6,0.8,1.3,1.7,1.7,16.1

In [266]:
stats_pergame.shape

(812, 29)

In [267]:
stats_advanced.columns

Index(['Unnamed: 0', 'Player', 'Position', 'Age', 'Team', 'G', 'MP', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM',
       'VORP'],
      dtype='object')

In [268]:
stats_advanced = stats_advanced.drop(['Unnamed: 0', 'Age' ,'Position', 'Team', 'G', 'MP'], axis = 1)
stats_advanced.rename(columns={'Player': 'Name'}, inplace = True)
stats_advanced.head(10)

,Name,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,Precious Achiuwa,12.7,0.503,0.259,0.217,8.7,21.7,14.9,6.9,1.1,...,11.3,18.5,0.4,2.1,2.5,0.070,-2.0,-0.6,-2.6,-0.2
1,Steven Adams,17.6,0.560,0.003,0.518,17.9,22.0,19.9,16.1,1.6,...,19.6,12.0,3.8,3.0,6.8,0.163,1.0,1.0,2.0,2.0
2,Bam Adebayo,21.8,0.608,0.008,0.466,8.7,26.1,17.5,17.5,2.2,...,14.4,25.0,3.6,3.5,7.2,0.188,1.7,2.1,3.8,2.7
3,Santi Aldama,10.2,0.452,0.364,0.242,9.4,16.1,12.6,7.7,0.8,...,9.9,18.4,-0.1,0.4,0.3,0.044,-4.2,-1.5,-5.7,-0.3
4,LaMarcus Aldridge,19.6,0.604,0.100,0.223,7.8,18.7,13.4,6.3,0.6,...,8.0,22.4,2.1,1.0,3.1,0.141,1.3,-0.6,0.7,0.7
5,Nickeil Alexander-Walker,10.5,0.475,0.497,0.160,2.7,11.5,7.1,16.1,1.5,...,11.3,24.1,-1.1,1.1,0.1,0.003,-1.8,-1.1,-2.9,-0.3
6,Nickeil Alexander-Walker,10.5,0.474,0.483,0.153,3.0,11.0,6.9,16.1,1.5,...,11.2,24.8,-1.1,0.9,-0.1,-0.005,-1.7,-1.3,-3.0,-0.3
7,Nickeil Alexander-Walker,10.2,0.497,0.688,0.250,0.8,15.6,8.5,15.5,1.7,...,13.1,17.9,0.0,0.2,0.2,0.070,-2.9,1.2,-1.7,0.0
8,Grayson Allen,12.7,0.609,0.684,0.130,1.9,10.9,6.5,7.6,1.2,...,6.7,15.2,2.8,1.4,4.2,0.110,0.6,-0.2,0.4,1.1
9,Jarrett Allen,23.0,0.698,0.018,0.428,12.0,24.5,18.4,8.2,1.2,...,12.7,18.1,5.4,3.0,8.5,0.225,2.7,1.2,3.9,2.7

In [269]:
stats_advanced.shape

(812, 21)

# Since the datasets are both from basketball reference and have the same ordering of players, we can join them directly. We keep the player name in both datasets so that we can double check that this join has been done correctly after doing so.

In [270]:
#Join the two dataframes by adding on the columns of stats advanced to the existing stats per game dataframe
stats_complete = pd.concat([stats_pergame, stats_advanced], axis=1)

In [271]:
stats_complete.head(5)

,Player,Position,Age,Team,G,GS,MP,FG,FGA,FG%,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,0.439,...,11.3,18.5,0.4,2.1,2.5,0.070,-2.0,-0.6,-2.6,-0.2
1,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,0.547,...,19.6,12.0,3.8,3.0,6.8,0.163,1.0,1.0,2.0,2.0
2,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,0.557,...,14.4,25.0,3.6,3.5,7.2,0.188,1.7,2.1,3.8,2.7
3,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,0.402,...,9.9,18.4,-0.1,0.4,0.3,0.044,-4.2,-1.5,-5.7,-0.3
4,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,0.550,...,8.0,22.4,2.1,1.0,3.1,0.141,1.3,-0.6,0.7,0.7

In [272]:
#checking the shape of the new stats dataframe. It is still 812 which is a good sign but we will double check
stats_complete.shape

(812, 50)

In [273]:
for index, row in stats_complete.iterrows():
  #print(stats_complete.at[index,'Player'], stats_complete.at[index,'Name'])
  #check the consistency of the names at each index, and add the print statement. Nothing is printed so we know merge was as desired
  if stats_complete.at[index,'Player'] != stats_complete.at[index,'Name']:
    print('MERGE IS INCORRECT')

In [274]:
stats_complete = stats_complete.drop(['Name'], axis = 1)

In [275]:
#columns of the joined dataset
stats_complete.columns

Index(['Player', 'Position', 'Age', 'Team', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM',
       'BPM', 'VORP'],
      dtype='object')

In [276]:
#use the describe function to get an idea of the distribution of the features in the dataset
stats_complete.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Age,812.0,26.051724,4.059640,19.000,23.00000,25.000,29.00000,41.000
G,812.0,36.704433,25.899099,1.000,12.00000,36.500,61.00000,82.000
GS,812.0,16.672414,23.817195,0.000,0.00000,4.000,25.00000,82.000
MP,812.0,18.265394,9.648292,1.000,10.50000,17.500,25.72500,43.500
FG,812.0,2.869951,2.223988,0.000,1.20000,2.400,3.90000,11.400
FGA,812.0,6.386576,4.651121,0.000,3.00000,5.150,8.72500,21.800
FG%,797.0,0.434257,0.137794,0.000,0.38500,0.441,0.50000,1.000
3P,812.0,0.871305,0.841935,0.000,0.20000,0.700,1.40000,4.500
3PA,812.0,2.560591,2.205642,0.000,0.80000,2.050,3.90000,11.700
3P%,740.0,0.303445,0.138111,0.000,0.25875,0.331,0.37625,1.000
2P,812.0,2.000123,1.762505,0.000,0.70000,1.500,2.80000,9.500
2PA,812.0,3.828695,3.192736,0.000,1.40000,3.000,5.10000,18.300
2P%,784.0,0.505523,0.157911,0.000,0.45075,0.516,0.57925,1.000
eFG%,797.0,0.497483,0.142109,0.000,0.46400,0.517,0.56300,1.000
FT,812.0,1.204433,1.287991,0.000,0.40000,0.900,1.60000,9.600
FTA,812.0,1.575246,1.585894,0.000,0.50000,1.200,2.00000,11.800
FT%,715.0,0.747571,0.156305,0.000,0.67350,0.765,0.84600,1.000
ORB,812.0,0.812931,0.744196,0.000,0.30000,0.600,1.10000,4.600
DRB,812.0,2.519828,1.790656,0.000,1.30000,2.300,3.40000,11.000
TRB,812.0,3.331650,2.352818,0.000,1.70000,2.900,4.40000,14.700
AST,812.0,1.808251,1.838080,0.000,0.50000,1.200,2.40000,10.800
STL,812.0,0.582759,0.425452,0.000,0.30000,0.500,0.90000,2.500
BLK,812.0,0.353571,0.360811,0.000,0.10000,0.300,0.50000,2.800
TOV,812.0,0.978695,0.817941,0.000,0.40000,0.800,1.30000,4.800
PF,812.0,1.564655,0.826783,0.000,1.00000,1.600,2.20000,5.000
PTS,812.0,7.812438,6.138077,0.000,3.30000,6.300,10.60000,30.600
PER,812.0,12.218719,7.749585,-45.200,9.30000,12.500,16.00000,76.200
TS%,799.0,0.527232,0.139421,0.000,0.49550,0.548,0.59300,1.000
3PAr,797.0,0.400491,0.236042,0.000,0.25000,0.403,0.56300,1.000
FTr,797.0,0.248739,0.222867,0.000,0.12600,0.220,0.31400,2.000
ORB%,812.0,5.402709,5.665091,0.000,1.87500,3.500,7.60000,56.600
DRB%,812.0,14.759360,7.648939,0.000,10.50000,13.400,18.70000,100.000
TRB%,812.0,10.085345,5.636559,0.000,6.50000,8.700,13.20000,54.500
AST%,812.0,12.868473,9.796030,0.000,6.60000,10.300,17.30000,100.000
STL%,812.0,1.591872,1.731690,0.000,0.90000,1.400,1.90000,25.000
BLK%,812.0,1.753695,1.943327,0.000,0.60000,1.300,2.40000,30.000
TOV%,799.0,12.219274,7.197791,0.000,8.80000,11.500,14.95000,58.100
USG%,812.0,18.014409,6.287915,0.000,14.30000,17.500,21.30000,54.600
OWS,812.0,0.887685,1.534461,-3.000,0.00000,0.200,1.30000,10.800
DWS,812.0,0.821305,0.925846,-0.100,0.10000,0.500,1.20000,4.600
WS,812.0,1.712808,2.291841,-1.600,0.10000,0.800,2.60000,15.200
WS/48,812.0,0.065845,0.131741,-1.231,0.03100,0.079,0.12425,1.204
OBPM,812.0,-1.998030,4.440740,-33.900,-3.52500,-1.500,0.20000,31.000
DBPM,812.0,-0.403325,2.291108,-14.500,-1.30000,-0.300,0.60000,13.400
BPM,812.0,-2.399877,5.746366,-42.600,-4.32500,-1.700,0.30000,36.900
VORP,812.0,0.397044,1.020211,-1.200,-0.10000,0.000,0.50000,9.800

In [277]:
print(list(nba_salaries['Name']))

['Stephen Curry', 'John Wall', 'Russell Westbrook', 'LeBron James', 'Kevin Durant', 'Bradley Beal', 'Paul George', 'Kawhi Leonard', 'Giannis Antetokounmpo', 'Damian Lillard', 'Klay Thompson', 'Rudy Gobert', 'Khris Middleton', 'Anthony Davis', 'Jimmy Butler', 'Tobias Harris', 'Trae Young', 'Zach LaVine', 'Luka Doncic', 'Kyrie Irving', 'Kemba Walker', 'Ben Simmons', 'Pascal Siakam', 'Karl-Anthony Towns', 'Devin Booker', 'Kristaps Porzingis', 'Jrue Holiday', 'Joel Embiid', 'Andrew Wiggins', 'CJ McCollum', 'Nikola Jokic', 'James Harden', 'Jamal Murray', 'Brandon Ingram', "D'Angelo Russell", 'Michael Porter', 'Shai Gilgeous-Alexander', 'Deandre Ayton', 'Jayson Tatum', 'Bam Adebayo', "De'Aaron Fox", 'Donovan Mitchell', 'Gordon Hayward', 'Jaren Jackson Jr', 'Kevin Love', 'Jaylen Brown', 'Chris Paul', 'Kyle Lowry', 'Jalen Brunson', 'DeMar DeRozan', 'Al Horford', 'Draymond Green', 'Julius Randle', 'John Collins', 'Mike Conley', 'Malcolm Brogdon', 'Anfernee Simons', 'Nikola Vucevic', 'Terry Rozier', 'Fred VanVleet', 'Buddy Hield', 'Jerami Grant', 'Spencer Dinwiddie', 'Mikal Bridges', 'Jarrett Allen', 'Nicolas Batum', 'Aaron Gordon', 'Tim Hardaway Jr', 'Eric Gordon', 'Bojan Bogdanovic', 'Lonzo Ball', 'Danilo Gallinari', 'Caris LeVert', 'Clint Capela', 'Joe Harris', 'Domantas Sabonis', 'Harrison Barnes', 'Evan Fournier', 'Bogdan Bogdanovic', 'Myles Turner', 'Steven Adams', 'Gary Trent Jr', 'Jonathan Isaac', 'OG Anunoby', 'Marcus Smart', 'Mitchell Robinson', 'Duncan Robinson', 'Derrick White', 'Norman Powell', 'Dejounte Murray', 'Markelle Fultz', 'Lauri Markkanen', 'Marcus Morris', 'Davis Bertans', 'Jusuf Nurkic', 'Malik Beasley', 'Luguentz Dort', 'Tyus Jones', 'Jonas Valanciunas', 'Derrick Rose', 'Kevin Huerter', 'Will Barton', 'Christian Wood', 'Wendell Carter', 'Kentavious Caldwell-Pope', 'Brook Lopez', 'Doug McDermott', 'Luke Kennard', 'Zion Williamson', 'Jordan Clarkson', 'Gary Harris', 'Kyle Kuzma', 'Patrick Beverley', 'Josh Hart', 'Kelly Olynyk', 'Chris Boucher', 'Kelly Oubre', 'Marvin Bagley', 'Dorian Finney-Smith', 'Robert Covington', 'Josh Richardson', 'Ja Morant', 'Devonte Graham', 'Terrence Ross', 'Dillon Brooks', 'Richaun Holmes', 'Reggie Jackson', 'Dwight Powell', 'Paolo Banchero', 'Robert Williams', 'RJ Barrett', 'Bobby Portis', 'DeAndre Jordan', 'Anthony Edwards', 'Cade Cunningham', 'PJ Tucker', 'Mo Bamba', 'Talen Horton-Tucker', 'Derrick Favors', 'Jae Crowder', 'Ivica Zubac', 'Reggie Bullock', 'Alec Burks', 'Danny Green', 'Chet Holmgren', "De'Andre Hunter", 'Larry Nance Jr', 'James Wiseman', 'Landry Shamet', 'Malik Monk', 'Jalen Green', 'Jakob Poeltl', 'Nerlens Noel', 'Dario Saric', "Royce O'Neale", 'Monte Morris', 'Mason Plumlee', 'Alex Caruso', 'Maxi Kleber', 'Darius Garland', 'Jabari Smith', 'Kyle Anderson', 'Victor Oladipo', 'Daniel Theis', 'LaMelo Ball', 'Nicolas Claxton', 'Grayson Allen', 'Seth Curry', 'Evan Mobley', 'Gary Payton II', "De'Anthony Melton", 'JaMychal Green', 'TJ McConnell', 'Keegan Murray', 'Kevon Looney', 'Thaddeus Young', 'Isaiah Hartenstein', 'Delon Wright', 'Patrick Williams', 'Scottie Barnes', 'Dewayne Dedmon', 'Cedi Osman', 'Coby White', 'Zach Collins', 'Taurean Prince', 'Jaden Ivey', "Jae'Sean Tate", 'Isaac Okoro', 'Cody Martin', 'Jalen Suggs', 'Jaxson Hayes', 'Khem Birch', 'Bennedict Mathurin', 'Patrick Mills', 'Bruce Brown', 'Caleb Martin', 'Lonnie Walker', 'Joe Ingles', 'Onyeka Okongwu', 'Justin Holiday', 'Josh Giddey', 'Rui Hachimura', 'Rudy Gay', 'Jevon Carter', 'Shaedon Sharpe', 'Cameron Payne', 'Otto Porter', 'Cam Reddish', 'Cameron Johnson', 'Ricky Rubio', 'Killian Hayes', 'PJ Washington', 'Jonathan Kuminga', 'Pat Connaughton', 'Tyler Herro', 'Romeo Langford', 'Dyson Daniels', 'JaVale McGee', 'Obi Toppin', 'Franz Wagner', 'Kendrick Nunn', 'Hamidou Diallo', 'Cory Joseph', 'Garrett Temple', 'Torrey Craig', 'Jeremy Sochan', 'David Nwaba', 'Nickeil Alexander-Walker', 'Furkan Korkmaz', 'Deni Avdija', 'Davion Mitchell', 'Johnny Davis', 'Goga Bitadze', 'Ishmael Smith', 'Jalen Smith', 'Ziaire Williams', 'Ousmane Dieng', 'Moe Harkless', 'Donte DiVincenzo', 'Jeff Green', 'Devin Vassell', 'Matisse Thybulle', 'Jarred Vanderbilt', 'James Bouknight', 'Brandon Clarke', 'Jalen Williams', 'Grant Williams', 'Darius Bazley', 'Ty Jerome', 'Tyrese Haliburton', 'Nassir Little', 'Josh Primo', 'Jalen Duren', 'Danuel House', 'Justise Winslow', 'Dylan Windler', 'Kira Lewis', 'George Hill', 'Terence Davis', 'Chris Duarte', 'Alex Len', 'Ochai Agbaji', 'Jordan Poole', 'Keldon Johnson', 'Aaron Nesmith', 'Moses Moody', 'Mark Williams', 'Cole Anthony', 'Corey Kispert', 'AJ Griffin', 'Boban Marjanovic', 'Mike Muscala', 'Georges Niang', 'Isaiah Stewart', 'Chuma Okeke', 'Trey Burke', 'Amir Coffey', 'Alperen Sengun', 'Tari Eason', 'Aleksej Pokusevski', 'Kevin Porter', 'Trey Murphy', 'Simone Fontecchio', 'Andre Drummond', 'Derrick Jones', 'Dalen Terry', 'Josh Green', 'Jake LaRavia', 'Tre Mann', 'Kevin Knox', 'Sterling Brown', 'Saddiq Bey', 'Malaki Branham', 'Kai Jones', 'Goran Dragic', 'Robin Lopez', 'Serge Ibaka', 'Wesley Matthews', 'Austin Rivers', 'Bismack Biyombo', 'Gorgui Dieng', 'Taj Gibson', 'Andrew Nicholson', 'Precious Achiuwa', 'Christian Braun', 'Jalen Johnson', 'Tyrese Maxey', 'Walker Kessler', 'Keon Johnson', 'TJ Warren', 'Matthew Dellavedova', 'Trey Lyles', 'Zeke Nnaji', 'David Roddy', 'Isaiah Jackson', 'MarJon Beauchamp', 'Usman Garuba', 'Leandro Bolmaro', 'Frank Kaminsky', 'Raul Neto', 'Willy Hernangomez', 'RJ Hampton', 'Blake Wesley', 'Josh Christopher', 'Stanley Johnson', 'Immanuel Quickley', 'Wendell Moore', 'John Konchar', 'Damian Jones', 'Rodney McGruder', 'Bryn Forbes', 'Juan Hernangomez', 'Quentin Grimes', 'Andrew Nembhard', 'Nikola Jovic', 'Payton Pritchard', 'Vlatko Cancar', 'Patrick Baldwin', 'TyTy Washington', 'Bones Hyland', 'Bol Bol', 'Peyton Watson', 'Marquese Chriss', 'Udoka Azubuike', 'Jaden McDaniels', 'Jordan McLaughlin', 'Malachi Flynn', 'Cam Thomas', 'Luke Kornet', 'DJ Wilson', 'Juan Toscano-Anderson', 'Damion Lee', 'Desmond Bane', 'Jaden Springer', "Day'Ron Sharpe", 'Santiago Aldama', 'Tony Bradley', 'Frank Ntilikina', 'Kenrich Williams', 'Garrison Mathews', 'Jaylin Williams', 'Jeremiah Robinson-Earl', 'Shake Milton', 'Edmond Sumner', 'Aaron Holiday', 'Theo Pinson', 'Troy Brown', 'Thomas Bryant', 'Josh Okogie', 'Drew Eubanks', 'Daniel Gafford', 'Terance Mann', 'Jalen McDaniels', 'Dean Wade', 'Jaylen Nowell', 'Naz Reid', 'Isaiah Roby', 'Chimezie Metu', 'Davon Reed', 'Bruno Fernando', 'Moses Brown', 'Norvel Pelle', 'Killian Tillie', 'Theo Maledon', 'Wenyen Gabriel', 'Thanasis Antetokounmpo', 'Moritz Wagner', 'Keita Bates-Diop', 'Sviatoslav Mykhailiuk', 'Didi Louzada', 'Oshae Brissett', 'Sam Merrill', 'Anthony Gill', 'Luca Vildoza', 'CJ Elleby', 'Nathan Knight', 'Javonte Green', 'Max Strus', 'Gabe Vincent', 'Herb Jones', 'Lamar Stevens', 'KJ Martin', 'Nick Richards', 'Tyrell Terry', 'Xavier Tillman', 'Naji Marshall', 'Isaiah Joe', 'Paul Reed', 'Tre Jones', 'Vernon Carey', 'Devin Cannady', 'Saben Lee', 'Omer Yurtseven', 'Jericho Sims', 'Sam Hauser', 'Trevelin Queen', 'Justin Champagnie', 'Kessler Edwards', 'McKinley Wright', 'Mac McClung', 'Xavier Moon', 'Jay Huff', 'Lindell Wigginton', 'Isaiah Todd', 'JT Thor', 'Marko Simonovic', 'Terry Taylor', 'BJ Boston', 'Jason Preston', 'Vit Krejci', 'Aaron Wiggins', 'Charles Bassey', 'Trendon Watford', 'Ayo Dosunmu', 'Isaiah Livers', 'Daishen Nix', 'Austin Reaves', 'Jose Alvarado', 'Miles McBride', 'Jock Landale', 'Greg Brown', 'Dalano Banton', 'Jared Butler', 'Eric Bledsoe', 'Kennedy Chandler', 'Zhaire Smith', 'Tyrese Martin', 'Jaden Hardy', 'Ryan Rollins', 'Max Christie', 'Josh Minott', 'Jabari Walker', 'Chima Moneke', 'Javon Freeman-Liberty', 'Mouhamadou Gueye', 'Adonis Arms', 'Kellan Grady', 'Pat Spencer', 'Trevion Williams', 'Javante McCoy', 'Fabian White', 'Jamaree Bouyea', 'Jamal Cain', 'Orlando Robinson', 'Isaiah Miller', 'Jared Rhoden', 'Gabe Brown', 'Matur Maker', 'Kyle Singler', 'Nik Stauskas', 'Juwan Morgan', 'Malik Fitts', 'Cole Swider', 'Vince Williams Jr', 'Kevon Harris', 'JD Davison', 'Mfiondu Kabengele', 'Alondes Williams', 'Bryce McGowens', 'Justin Lewis', 'Isaiah Mobley', 'RJ Nembhard', 'Collin Gillespie', 'Jack White', 'Buddy Boeheim', 'Lester Quinones', 'Quinndary Weatherspoon', 'Trevor Hudgins', 'Moussa Diabate', 'Scottie Pippen Jr', 'Kenneth Lofton', 'Darius Days', 'Marcus Garrett', 'AJ Green', 'AJ Lawson', 'Eric Paschall', 'Trevor Keels', 'Eugene Omoruyi', 'Admiral Schofield', 'Julian Champagnie', 'Duane Washington Jr', 'Keon Ellis', 'Neemias Queta', 'Dominick Barlow', 'Jordan Hall', 'Jeff Dowtin', 'Ron Harper Jr', 'Johnny Juzang', 'Chaundee Brown', 'Braxton Key', 'Sandro Mamukelashvili', 'Feron Hunt', 'Lindy Waters III', 'Charlie Brown', 'Brandon Williams', 'Xavier Sneed', 'Jordan Schakel', 'DJ Augustin', 'Ishmail Wainright', 'Troy Williams', 'Demetrius Jackson']

In [278]:
print(list(stats_complete['Player']))

['Precious Achiuwa', 'Steven Adams', 'Bam Adebayo', 'Santi Aldama', 'LaMarcus Aldridge', 'Nickeil Alexander-Walker', 'Nickeil Alexander-Walker', 'Nickeil Alexander-Walker', 'Grayson Allen', 'Jarrett Allen', 'Jose Alvarado', 'Justin Anderson', 'Justin Anderson', 'Justin Anderson', 'Kyle Anderson', 'Giannis Antetokounmpo', 'Thanasis Antetokounmpo', 'Carmelo Anthony', 'Cole Anthony', 'OG Anunoby', 'Ryan Arcidiacono', 'Trevor Ariza', 'D.J. Augustin', 'D.J. Augustin', 'D.J. Augustin', 'Deni Avdija', 'Joel Ayayi', 'Deandre Ayton', 'Udoka Azubuike', 'Marvin Bagley III', 'Marvin Bagley III', 'Marvin Bagley III', 'LaMelo Ball', 'Lonzo Ball', 'Mo Bamba', 'Desmond Bane', 'Dalano Banton', 'Cat Barber', 'Harrison Barnes', 'Scottie Barnes', 'RJ Barrett', 'Will Barton', 'Paris Bass', 'Charles Bassey', 'Keita Bates-Diop', 'Nicolas Batum', 'Kent Bazemore', 'Darius Bazley', 'Bradley Beal', 'Malik Beasley', 'Jordan Bell', "DeAndre' Bembry", "DeAndre' Bembry", "DeAndre' Bembry", 'Dāvis Bertāns', 'Dāvis Bertāns', 'Dāvis Bertāns', 'Patrick Beverley', 'Saddiq Bey', 'Khem Birch', 'Goga Bitadze', 'Bismack Biyombo', 'Nemanja Bjelica', 'Eric Bledsoe', 'Keljin Blevins', 'Bogdan Bogdanović', 'Bojan Bogdanović', 'Bol Bol', 'Leandro Bolmaro', 'Isaac Bonga', 'Devin Booker', 'Brandon Boston Jr.', 'Chris Boucher', 'James Bouknight', 'Avery Bradley', 'Tony Bradley', 'Ignas Brazdeikis', 'Mikal Bridges', 'Miles Bridges', 'Oshae Brissett', 'Malcolm Brogdon', 'Armoni Brooks', 'Armoni Brooks', 'Armoni Brooks', 'Dillon Brooks', 'Bruce Brown', 'Charlie Brown Jr.', 'Charlie Brown Jr.', 'Charlie Brown Jr.', 'Chaundee Brown Jr.', 'Chaundee Brown Jr.', 'Chaundee Brown Jr.', 'Greg Brown III', 'Jaylen Brown', 'Moses Brown', 'Moses Brown', 'Moses Brown', 'Sterling Brown', 'Troy Brown Jr.', 'Jalen Brunson', 'Thomas Bryant', 'Shaq Buchanan', 'Reggie Bullock', 'Trey Burke', 'Alec Burks', 'Jared Butler', 'Jimmy Butler', 'Devontae Cacok', 'Kentavious Caldwell-Pope', 'Facundo Campazzo', 'Vlatko Čančar', 'Devin Cannady', 'Clint Capela', 'Vernon Carey Jr.', 'Vernon Carey Jr.', 'Vernon Carey Jr.', 'Jevon Carter', 'Jevon Carter', 'Jevon Carter', 'Wendell Carter Jr.', 'Alex Caruso', 'Willie Cauley-Stein', 'Willie Cauley-Stein', 'Willie Cauley-Stein', 'Ahmad Caver', 'Justin Champagnie', 'Zylan Cheatham', 'Chris Chiozza', 'Marquese Chriss', 'Josh Christopher', 'Gary Clark', 'Brandon Clarke', 'Jordan Clarkson', 'Nic Claxton', 'Amir Coffey', 'John Collins', 'Zach Collins', 'Darren Collison', 'Mike Conley', 'Pat Connaughton', 'Tyler Cook', 'Sharife Cooper', 'Petr Cornelie', 'DeMarcus Cousins', 'DeMarcus Cousins', 'DeMarcus Cousins', 'Robert Covington', 'Robert Covington', 'Robert Covington', 'Torrey Craig', 'Torrey Craig', 'Torrey Craig', 'Jae Crowder', 'Jarrett Culver', 'Jarron Cumberland', 'Cade Cunningham', 'Seth Curry', 'Seth Curry', 'Seth Curry', 'Stephen Curry', 'Anthony Davis', 'Ed Davis', 'Terence Davis', 'Gabriel Deck', 'Dewayne Dedmon', 'Sam Dekker', 'Javin DeLaurier', 'DeMar DeRozan', 'Mamadi Diakite', 'Cheick Diallo', 'Hamidou Diallo', 'Gorgui Dieng', 'Spencer Dinwiddie', 'Spencer Dinwiddie', 'Spencer Dinwiddie', 'Donte DiVincenzo', 'Donte DiVincenzo', 'Donte DiVincenzo', 'Luka Dončić', 'Luguentz Dort', 'Ayo Dosunmu', 'Damyean Dotson', 'Devon Dotson', 'Sekou Doumbouya', 'Jeff Dowtin', 'Jeff Dowtin', 'Jeff Dowtin', 'Jeff Dowtin', 'PJ Dozier', 'Goran Dragić', 'Goran Dragić', 'Goran Dragić', 'Andre Drummond', 'Andre Drummond', 'Andre Drummond', 'Chris Duarte', 'David Duke Jr.', 'Kris Dunn', 'Kevin Durant', 'Jaime Echenique', 'Anthony Edwards', 'Carsen Edwards', 'Kessler Edwards', 'Rob Edwards', 'CJ Elleby', 'Wayne Ellington', 'Joel Embiid', 'James Ennis III', 'James Ennis III', 'James Ennis III', 'James Ennis III', 'Drew Eubanks', 'Drew Eubanks', 'Drew Eubanks', 'Tacko Fall', 'Derrick Favors', 'Bruno Fernando', 'Bruno Fernando', 'Bruno Fernando', 'Dorian Finney-Smith', 'Malik Fitts', 'Malik Fitts', 'Malik Fitts', 'Malachi Flynn', 'Bryn Forbes', 'Bryn Forbes', 'Bryn Forbes', 'Aleem Ford', 'Trent Forrest', 'Evan Fournier', "De'Aaron Fox", 'Melvin Frazier', 'Tim Frazier', 'Tim Frazier', 'Tim Frazier', 'Enes Freedom', 'Markelle Fultz', 'Wenyen Gabriel', 'Wenyen Gabriel', 'Wenyen Gabriel', 'Wenyen Gabriel', 'Daniel Gafford', 'Danilo Gallinari', 'Langston Galloway', 'Langston Galloway', 'Langston Galloway', 'Darius Garland', 'Marcus Garrett', 'Usman Garuba', 'Luka Garza', 'Rudy Gay', 'Paul George', 'Taj Gibson', 'Josh Giddey', 'Shai Gilgeous-Alexander', 'Anthony Gill', 'Freddie Gillespie', 'Rudy Gobert', 'Brandon Goodwin', 'Jordan Goodwin', 'Aaron Gordon', 'Eric Gordon', "Devonte' Graham", 'Jerami Grant', 'Hassani Gravett', 'Danny Green', 'Draymond Green', 'Jalen Green', 'JaMychal Green', 'Javonte Green', 'Jeff Green', 'Josh Green', 'Blake Griffin', 'Quentin Grimes', 'Kyle Guy', 'Rui Hachimura', 'Tyrese Haliburton', 'Tyrese Haliburton', 'Tyrese Haliburton', 'Tyler Hall', 'R.J. Hampton', 'Tim Hardaway Jr.', 'James Harden', 'James Harden', 'James Harden', 'Maurice Harkless', 'Jared Harper', 'Montrezl Harrell', 'Montrezl Harrell', 'Montrezl Harrell', 'Gary Harris', 'Joe Harris', 'Tobias Harris', 'Shaquille Harrison', 'Josh Hart', 'Josh Hart', 'Josh Hart', 'Isaiah Hartenstein', 'Udonis Haslem', 'Sam Hauser', 'Jaxson Hayes', 'Killian Hayes', 'Gordon Hayward', 'Aaron Henry', 'Juancho Hernangómez', 'Juancho Hernangómez', 'Juancho Hernangómez', 'Juancho Hernangómez', 'Willy Hernangómez', 'Tyler Herro', 'Buddy Hield', 'Buddy Hield', 'Buddy Hield', 'Haywood Highsmith', 'George Hill', 'Malcolm Hill', 'Malcolm Hill', 'Malcolm Hill', 'Solomon Hill', 'Nate Hinton', 'Jaylen Hoard', 'Aaron Holiday', 'Aaron Holiday', 'Aaron Holiday', 'Jrue Holiday', 'Justin Holiday', 'Justin Holiday', 'Justin Holiday', 'Richaun Holmes', 'Rodney Hood', 'Rodney Hood', 'Rodney Hood', 'Scotty Hopson', 'Al Horford', 'Talen Horton-Tucker', 'Danuel House Jr.', 'Danuel House Jr.', 'Danuel House Jr.', 'Danuel House Jr.', 'Dwight Howard', 'Markus Howard', 'Kevin Huerter', 'Jay Huff', 'Elijah Hughes', 'Elijah Hughes', 'Elijah Hughes', 'Feron Hunt', "De'Andre Hunter", 'Chandler Hutchison', 'Bones Hyland', 'Serge Ibaka', 'Serge Ibaka', 'Serge Ibaka', 'Andre Iguodala', 'Joe Ingles', 'Brandon Ingram', 'Kyrie Irving', 'Wes Iwundu', 'Frank Jackson', 'Isaiah Jackson', 'Jaren Jackson Jr.', 'Josh Jackson', 'Josh Jackson', 'Josh Jackson', 'Justin Jackson', 'Justin Jackson', 'Justin Jackson', 'Reggie Jackson', 'LeBron James', 'DeJon Jarreau', 'DaQuan Jeffries', 'Ty Jerome', 'Isaiah Joe', 'Alize Johnson', 'Alize Johnson', 'Alize Johnson', 'Alize Johnson', 'B.J. Johnson', 'Cameron Johnson', 'David Johnson', 'Jalen Johnson', 'James Johnson', 'Joe Johnson', 'Keldon Johnson', 'Keon Johnson', 'Keon Johnson', 'Keon Johnson', 'Stanley Johnson', 'Tyler Johnson', 'Tyler Johnson', 'Tyler Johnson', 'Nikola Jokić', 'Carlik Jones', 'Carlik Jones', 'Carlik Jones', 'Damian Jones', 'Derrick Jones Jr.', 'Herbert Jones', 'Jemerrio Jones', 'Kai Jones', 'Mason Jones', 'Tre Jones', 'Tyus Jones', 'DeAndre Jordan', 'DeAndre Jordan', 'DeAndre Jordan', 'Cory Joseph', 'Georgios Kalaitzakis', 'Georgios Kalaitzakis', 'Georgios Kalaitzakis', 'Frank Kaminsky', 'Luke Kennard', 'Braxton Key', 'Braxton Key', 'Braxton Key', 'George King', 'Louis King', 'Corey Kispert', 'Maxi Kleber', 'Brandon Knight', 'Nathan Knight', 'Kevin Knox', 'Kevin Knox', 'Kevin Knox', 'John Konchar', 'Furkan Korkmaz', 'Luke Kornet', 'Luke Kornet', 'Luke Kornet', 'Luke Kornet', 'Vit Krejci', 'Arnoldas Kulboka', 'Jonathan Kuminga', 'Kyle Kuzma', 'Anthony Lamb', 'Jeremy Lamb', 'Jeremy Lamb', 'Jeremy Lamb', 'Jock Landale', 'Romeo Langford', 'Romeo Langford', 'Romeo Langford', 'Zach LaVine', 'Jake Layman', 'Damion Lee', 'Saben Lee', 'Alex Len', 'Caris LeVert', 'Caris LeVert', 'Caris LeVert', 'Kira Lewis Jr.', 'Scottie Lewis', 'Damian Lillard', 'Nassir Little', 'Isaiah Livers', 'Kevon Looney', 'Brook Lopez', 'Robin Lopez', 'Didi Louzada', 'Didi Louzada', 'Didi Louzada', 'Kevin Love', 'Kyle Lowry', 'Gabriel Lundberg', 'Timothé Luwawu-Cabarrot', 'Trey Lyles', 'Trey Lyles', 'Trey Lyles', 'Théo Maledon', 'Sandro Mamukelashvili', 'Terance Mann', 'Tre Mann', 'Boban Marjanović', 'Lauri Markkanen', 'Naji Marshall', 'Caleb Martin', 'Cody Martin', 'Kelan Martin', 'Kelan Martin', 'Kelan Martin', 'Kenyon Martin Jr.', 'Garrison Mathews', 'Dakota Mathias', 'Wesley Matthews', 'Tyrese Maxey', 'Skylar Mays', 'Miles McBride', 'Mac McClung', 'Mac McClung', 'Mac McClung', 'CJ McCollum', 'CJ McCollum', 'CJ McCollum', 'T.J. McConnell', 'Jaden McDaniels', 'Jalen McDaniels', 'Doug McDermott', 'JaVale McGee', 'Cameron McGriff', 'Rodney McGruder', 'Alfonzo McKinnie', 'JaQuori McLaughlin', 'Jordan McLaughlin', 'Ben McLemore', "De'Anthony Melton", 'Sam Merrill', 'Chimezie Metu', 'Khris Middleton', 'C.J. Miles', 'Patty Mills', 'Paul Millsap', 'Paul Millsap', 'Paul Millsap', 'Shake Milton', 'Davion Mitchell', 'Donovan Mitchell', 'Evan Mobley', 'Malik Monk', 'Greg Monroe', 'Greg Monroe', 'Greg Monroe', 'Greg Monroe', 'Greg Monroe', 'Moses Moody', 'Xavier Moon', 'Matt Mooney', 'Ja Morant', 'Juwan Morgan', 'Juwan Morgan', 'Juwan Morgan', 'Jaylen Morris', 'Marcus Morris', 'Markieff Morris', 'Monte Morris', 'Emmanuel Mudiay', 'Mychal Mulder', 'Mychal Mulder', 'Mychal Mulder', 'Ade Murkey', 'Trey Murphy III', 'Dejounte Murray', 'Mike Muscala', 'Svi Mykhailiuk', 'Abdel Nader', 'Larry Nance Jr.', 'Larry Nance Jr.', 'Larry Nance Jr.', 'RJ Nembhard Jr.', 'Aaron Nesmith', 'Raul Neto', 'Malik Newman', 'Georges Niang', 'Daishen Nix', 'Zeke Nnaji', 'Nerlens Noel', 'Jaylen Nowell', 'Frank Ntilikina', 'Jusuf Nurkić', 'David Nwaba', 'Jordan Nwora', "Royce O'Neale", 'Semi Ojeleye', 'Semi Ojeleye', 'Semi Ojeleye', 'Chuma Okeke', 'Josh Okogie', 'Onyeka Okongwu', 'Isaac Okoro', 'KZ Okpala', 'Victor Oladipo', 'Cameron Oliver', 'Kelly Olynyk', 'Eugene Omoruyi', 'Miye Oni', 'Cedi Osman', 'Daniel Oturu', 'Kelly Oubre Jr.', 'Jaysean Paige', 'Trayvon Palmer', 'Kevin Pangos', 'Jabari Parker', 'Eric Paschall', 'Chris Paul', 'Cameron Payne', 'Elfrid Payton', 'Gary Payton II', 'Norvel Pelle', 'Reggie Perry', 'Reggie Perry', 'Reggie Perry', 'Jamorko Pickett', 'Theo Pinson', 'Mason Plumlee', 'Jakob Poeltl', 'Aleksej Pokusevski', 'Yves Pons', 'Jordan Poole', 'Kevin Porter Jr.', 'Michael Porter Jr.', 'Otto Porter Jr.', 'Bobby Portis', 'Kristaps Porziņģis', 'Kristaps Porziņģis', 'Kristaps Porziņģis', 'Micah Potter', 'Dwight Powell', 'Myles Powell', 'Norman Powell', 'Norman Powell', 'Norman Powell', 'Joshua Primo', 'Taurean Prince', 'Payton Pritchard', 'Trevelin Queen', 'Neemias Queta', 'Immanuel Quickley', "Jahmi'us Ramsey", 'Julius Randle', 'Austin Reaves', 'Cam Reddish', 'Cam Reddish', 'Cam Reddish', 'Davon Reed', 'Paul Reed', 'Naz Reid', 'Nick Richards', 'Josh Richardson', 'Josh Richardson', 'Josh Richardson', 'Austin Rivers', 'Duncan Robinson', 'Justin Robinson', 'Justin Robinson', 'Justin Robinson', 'Justin Robinson', 'Mitchell Robinson', 'Jeremiah Robinson-Earl', 'Isaiah Roby', 'Rajon Rondo', 'Rajon Rondo', 'Rajon Rondo', 'Derrick Rose', 'Terrence Ross', 'Terry Rozier', 'Ricky Rubio', "D'Angelo Russell", 'Matt Ryan', 'Domantas Sabonis', 'Domantas Sabonis', 'Domantas Sabonis', 'Olivier Sarr', 'Tomáš Satoranský', 'Tomáš Satoranský', 'Tomáš Satoranský', 'Tomáš Satoranský', 'Jordan Schakel', 'Admiral Schofield', 'Dennis Schröder', 'Dennis Schröder', 'Dennis Schröder', 'Tre Scott', 'Jay Scrubb', 'Wayne Selden', 'Alperen Şengün', 'Collin Sexton', 'Landry Shamet', "Day'Ron Sharpe", 'Pascal Siakam', 'Chris Silva', 'Chris Silva', 'Chris Silva', 'Marko Simonovic', 'Anfernee Simons', 'Zavier Simpson', 'Jericho Sims', 'Deividas Sirvydis', 'Javonte Smart', 'Javonte Smart', 'Javonte Smart', 'Marcus Smart', 'Dennis Smith Jr.', 'Ish Smith', 'Ish Smith', 'Ish Smith', 'Jalen Smith', 'Jalen Smith', 'Jalen Smith', 'Xavier Sneed', 'Xavier Sneed', 'Xavier Sneed', 'Tony Snell', 'Tony Snell', 'Tony Snell', 'Jaden Springer', 'Cassius Stanley', 'Nik Stauskas', 'Nik Stauskas', 'Nik Stauskas', 'Lance Stephenson', 'Lance Stephenson', 'Lance Stephenson', 'Lamar Stevens', 'Isaiah Stewart', 'Max Strus', 'Jalen Suggs', 'Craig Sword', 'Keifer Sykes', "Jae'Sean Tate", 'Jayson Tatum', 'Terry Taylor', 'Garrett Temple', 'Emanuel Terry', 'Tyrell Terry', 'Jon Teske', 'Daniel Theis', 'Daniel Theis', 'Daniel Theis', 'Brodric Thomas', 'Cam Thomas', 'Isaiah Thomas', 'Isaiah Thomas', 'Isaiah Thomas', 'Isaiah Thomas', 'Matt Thomas', 'Klay Thompson', 'Tristan Thompson', 'Tristan Thompson', 'Tristan Thompson', 'Tristan Thompson', 'JT Thor', 'Matisse Thybulle', 'Killian Tillie', 'Xavier Tillman Sr.', 'Isaiah Todd', 'Obi Toppin', 'Juan Toscano-Anderson', 'Karl-Anthony Towns', 'Gary Trent Jr.', 'P.J. Tucker', 'Rayjon Tucker', 'Rayjon Tucker', 'Rayjon Tucker', 'Myles Turner', 'Jonas Valančiūnas', 'Denzel Valentine', 'Denzel Valentine', 'Denzel Valentine', 'Jarred Vanderbilt', 'Fred VanVleet', 'Devin Vassell', 'Gabe Vincent', 'Nikola Vučević', 'Dean Wade', 'Franz Wagner', 'Moritz Wagner', 'Ish Wainright', 'Kemba Walker', 'Lonnie Walker IV', 'M.J. Walker', 'Tyrone Wallace', 'Derrick Walton', 'Brad Wanamaker', 'Brad Wanamaker', 'Brad Wanamaker', 'Duane Washington Jr.', 'P.J. Washington', 'Yuta Watanabe', 'Lindy Waters III', 'Tremont Waters', 'Tremont Waters', 'Tremont Waters', 'Trendon Watford', 'Paul Watson', 'Quinndary Weatherspoon', 'Russell Westbrook', 'Coby White', 'Derrick White', 'Derrick White', 'Derrick White', 'Hassan Whiteside', 'Joe Wieskamp', 'Aaron Wiggins', 'Andrew Wiggins', 'Lindell Wigginton', 'Brandon Williams', 'Grant Williams', 'Kenrich Williams', 'Lou Williams', 'Patrick Williams', 'Robert Williams', 'Ziaire Williams', 'D.J. Wilson', 'Dylan Windler', 'Justise Winslow', 'Justise Winslow', 'Justise Winslow', 'Cassius Winston', 'Christian Wood', 'Robert Woodard II', 'Delon Wright', 'McKinley Wright IV', 'Moses Wright', 'Moses Wright', 'Moses Wright', 'Gabe York', 'Thaddeus Young', 'Thaddeus Young', 'Thaddeus Young', 'Trae Young', 'Omer Yurtseven', 'Cody Zeller', 'Ivica Zubac']

In [279]:
#see how many names are not in the stats_complete dataframe

#after doing some digging, I found that the names printed below have naming inconsistencies due to special characters
#in the last names of many eastern european players, didn't play in the 2021-2022 season (have no stats), have or do not have a consistent suffix (sr/jr),
#have an abbreviated first name, or some other form of naming inconsistency between the two datasets
for item in season_salaries.keys():
  if item not in list(stats_complete['Player']):
    print(item)

John Wall
Kawhi Leonard
Luka Doncic
Ben Simmons
Kristaps Porzingis
Nikola Jokic
Jamal Murray
Michael Porter
Jaren Jackson Jr
Nikola Vucevic
Tim Hardaway Jr
Bojan Bogdanovic
Bogdan Bogdanovic
Gary Trent Jr
Jonathan Isaac
Davis Bertans
Jusuf Nurkic
Jonas Valanciunas
Wendell Carter
Zion Williamson
Kelly Oubre
Marvin Bagley
Devonte Graham
Paolo Banchero
PJ Tucker
Chet Holmgren
Larry Nance Jr
James Wiseman
Dario Saric
Jabari Smith
Nicolas Claxton
TJ McConnell
Keegan Murray
Jaden Ivey
Bennedict Mathurin
Patrick Mills
Lonnie Walker
Shaedon Sharpe
Otto Porter
PJ Washington
Dyson Daniels
Kendrick Nunn
Jeremy Sochan
Johnny Davis
Ishmael Smith
Ousmane Dieng
Moe Harkless
Jalen Williams
Josh Primo
Jalen Duren
Danuel House
Kira Lewis
Ochai Agbaji
Mark Williams
AJ Griffin
Boban Marjanovic
Alperen Sengun
Tari Eason
Kevin Porter
Trey Murphy
Simone Fontecchio
Derrick Jones
Dalen Terry
Jake LaRavia
Malaki Branham
Goran Dragic
Andrew Nicholson
Christian Braun
Walker Kessler
TJ Warren
Matthew Dellavedova
David Roddy
MarJon Beauchamp
Willy Hernangomez
RJ Hampton
Blake Wesley
Wendell Moore
Juan Hernangomez
Andrew Nembhard
Nikola Jovic
Vlatko Cancar
Patrick Baldwin
TyTy Washington
Peyton Watson
DJ Wilson
Santiago Aldama
Jaylin Williams
Edmond Sumner
Troy Brown
Theo Maledon
Sviatoslav Mykhailiuk
Luca Vildoza
Herb Jones
KJ Martin
Xavier Tillman
Vernon Carey
McKinley Wright
BJ Boston
Jason Preston
Greg Brown
Kennedy Chandler
Zhaire Smith
Tyrese Martin
Jaden Hardy
Ryan Rollins
Max Christie
Josh Minott
Jabari Walker
Chima Moneke
Javon Freeman-Liberty
Mouhamadou Gueye
Adonis Arms
Kellan Grady
Pat Spencer
Trevion Williams
Javante McCoy
Fabian White
Jamaree Bouyea
Jamal Cain
Orlando Robinson
Isaiah Miller
Jared Rhoden
Gabe Brown
Matur Maker
Kyle Singler
Cole Swider
Vince Williams Jr
Kevon Harris
JD Davison
Mfiondu Kabengele
Alondes Williams
Bryce McGowens
Justin Lewis
Isaiah Mobley
RJ Nembhard
Collin Gillespie
Jack White
Buddy Boeheim
Lester Quinones
Trevor Hudgins
Moussa Diabate
Scottie Pippen Jr
Kenneth Lofton
Darius Days
AJ Green
AJ Lawson
Trevor Keels
Julian Champagnie
Duane Washington Jr
Keon Ellis
Dominick Barlow
Jordan Hall
Ron Harper Jr
Johnny Juzang
Chaundee Brown
Charlie Brown
DJ Augustin
Ishmail Wainright
Troy Williams
Demetrius Jackson

# By doing some investigation we see that a variety of naming inconsistencies between the datasets are causing issues when we try to map each name to its salary

Because there are many naming inconsistencies present, I think the easiest thing to do is add on salary for the consistent names then manually enter the missing values where possible (should be quick)

In [280]:
stats_complete['Salary'] = float('nan')

In [281]:
for index, row in stats_complete.iterrows():
  if stats_complete.at[index,'Player'] in season_salaries.keys():
    stats_complete.at[index,'Salary'] = season_salaries[stats_complete.at[index,'Player']]

In [282]:
#write the results to csv and then fill in missing
stats_complete.to_csv('stats_complete_withnulls.csv', index = False)

In [283]:
nba_salaries.to_csv('salaries.csv', index = False)

# Now read back in the stats_complete dataframe that has manually entered salaries for players that were missing salary

In [284]:
stats_with_salary = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/NBA/stats_complete_with_salary.csv')

In [285]:
#players with NaN salaries are NBA players who played in the 2021-2022 season but did not receive contracts for the 2022-2023 season
stats_with_salary.head(5)

,Player,Position,Age,Team,G,GS,MP,FG,FGA,FG%,...,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Salary
0,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,0.439,...,18.5,0.4,2.1,2.5,0.070,-2.0,-0.6,-2.6,-0.2,2.840160
1,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,0.547,...,12.0,3.8,3.0,6.8,0.163,1.0,1.0,2.0,2.0,17.926829
2,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,0.557,...,25.0,3.6,3.5,7.2,0.188,1.7,2.1,3.8,2.7,30.351780
3,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,0.402,...,18.4,-0.1,0.4,0.3,0.044,-4.2,-1.5,-5.7,-0.3,2.094120
4,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,0.550,...,22.4,2.1,1.0,3.1,0.141,1.3,-0.6,0.7,0.7,NaN

In [286]:
#investigate the presence of nulls within the dataset
stats_with_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 812 entries, 0 to 811
Data columns (total 50 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Player    812 non-null    object
 1   Position  812 non-null    object
 2   Age       812 non-null    int64
 3   Team      812 non-null    object
 4   G         812 non-null    int64
 5   GS        812 non-null    int64
 6   MP        812 non-null    float64
 7   FG        812 non-null    float64
 8   FGA       812 non-null    float64
 9   FG%       797 non-null    float64
 10  3P        812 non-null    float64
 11  3PA       812 non-null    float64
 12  3P%       740 non-null    float64
 13  2P        812 non-null    float64
 14  2PA       812 non-null    float64
 15  2P%       784 non-null    float64
 16  eFG%      797 non-null    float64
 17  FT        812 non-null    float64
 18  FTA       812 non-null    float64
 19  FT%       715 non-null    float64
 20  ORB       812 non-null    float64
 21  DRB       812 non-null    float64
 22  TRB       812 non-null    float64
 23  AST       812 non-null    float64
 24  STL       812 non-null    float64
 25  BLK       812 non-null    float64
 26  TOV       812 non-null    float64
 27  PF        812 non-null    float64
 28  PTS       812 non-null    float64
 29  PER       812 non-null    float64
 30  TS%       799 non-null    float64
 31  3PAr      797 non-null    float64
 32  FTr       797 non-null    float64
 33  ORB%      812 non-null    float64
 34  DRB%      812 non-null    float64
 35  TRB%      812 non-null    float64
 36  AST%      812 non-null    float64
 37  STL%      812 non-null    float64
 38  BLK%      812 non-null    float64
 39  TOV%      799 non-null    float64
 40  USG%      812 non-null    float64
 41  OWS       812 non-null    float64
 42  DWS       812 non-null    float64
 43  WS        812 non-null    float64
 44  WS/48     812 non-null    float64
 45  OBPM      812 non-null    float64
 46  DBPM      812 non-null    float64
 47  BPM       812 non-null    float64
 48  VORP      812 non-null    float64
 49  Salary    509 non-null    float64
dtypes: float64(44), int64(3), object(3)
memory usage: 317.3+ KB

In [287]:
#we will drop all rows with null values from the complete stats dataset

In [288]:
stats_with_salary = stats_with_salary.dropna()
stats_with_salary.reset_index()

,index,Player,Position,Age,Team,G,GS,MP,FG,FGA,...,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Salary
0,0,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,18.5,0.4,2.1,2.5,0.070,-2.0,-0.6,-2.6,-0.2,2.840160
1,1,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,12.0,3.8,3.0,6.8,0.163,1.0,1.0,2.0,2.0,17.926829
2,2,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,25.0,3.6,3.5,7.2,0.188,1.7,2.1,3.8,2.7,30.351780
3,3,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,18.4,-0.1,0.4,0.3,0.044,-4.2,-1.5,-5.7,-0.3,2.094120
4,5,Nickeil Alexander-Walker,SG,23,TOT,65,21,22.6,3.9,10.5,...,24.1,-1.1,1.1,0.1,0.003,-1.8,-1.1,-2.9,-0.3,5.009633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,805,Thaddeus Young,PF,33,TOT,52,1,16.3,2.7,5.2,...,17.4,0.9,1.3,2.2,0.126,0.1,2.1,2.2,0.9,8.000000
464,806,Thaddeus Young,PF,33,SAS,26,1,14.2,2.8,4.9,...,19.1,0.5,0.5,1.0,0.124,0.5,1.8,2.4,0.4,8.000000
465,807,Thaddeus Young,PF,33,TOR,26,0,18.3,2.6,5.5,...,16.0,0.5,0.8,1.3,0.127,-0.2,2.2,2.0,0.5,8.000000
466,808,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,...,34.4,9.0,1.0,10.0,0.181,7.1,-2.0,5.2,4.8,37.096500
467,809,Omer Yurtseven,C,23,MIA,56,12,12.6,2.3,4.4,...,19.9,0.8,1.4,2.1,0.145,-1.4,0.4,-1.0,0.2,1.752638

In [289]:
#shape of the dataframe after dropping rows with null values
stats_with_salary.shape

(468, 50)

# Having dropped null values within the dataset, we have to take care of a few more cleaning tasks

Things that need to be dealt with

*   Players who were traded during the 2021-2022 season have at least 3 entries (their total stats from the year and their stats from each of the two or more teams they played for). We wan't to only keep their total stats for the season

*   Some Players have multiple positions so we will need to find an effective way to handle that

In [290]:
#we will first loop through the dataframe, to find all player names that have team (TOT)

In [291]:
traded_players = []

for index, row in stats_with_salary.iterrows():
  if stats_with_salary.at[index,'Team'] == 'TOT':
    traded_players.append(stats_with_salary.at[index,'Player'])

In [292]:
print(len(traded_players))
traded_players

51

['Nickeil Alexander-Walker',
 'D.J. Augustin',
 'Marvin Bagley III',
 'DÄ\x81vis BertÄ\x81ns',
 'Charlie Brown Jr.',
 'Chaundee Brown Jr.',
 'Jevon Carter',
 'Robert Covington',
 'Torrey Craig',
 'Seth Curry',
 'Spencer Dinwiddie',
 'Donte DiVincenzo',
 'Jeff Dowtin',
 'Goran DragiÄ‡',
 'Andre Drummond',
 'Drew Eubanks',
 'Bruno Fernando',
 'Bryn Forbes',
 'Wenyen Gabriel',
 'Tyrese Haliburton',
 'James Harden',
 'Josh Hart',
 'Juancho HernangÃ³mez',
 'Buddy Hield',
 'Aaron Holiday',
 'Justin Holiday',
 'Danuel House Jr.',
 'Serge Ibaka',
 'Keon Johnson',
 'Braxton Key',
 'Kevin Knox',
 'Luke Kornet',
 'Romeo Langford',
 'Caris LeVert',
 'Didi Louzada',
 'Trey Lyles',
 'Mac McClung',
 'CJ McCollum',
 'Larry Nance Jr.',
 'Kristaps PorziÅ†Ä£is',
 'Norman Powell',
 'Cam Reddish',
 'Josh Richardson',
 'Domantas Sabonis',
 'Ish Smith',
 'Jalen Smith',
 'Nik Stauskas',
 'Daniel Theis',
 'Derrick White',
 'Justise Winslow',
 'Thaddeus Young']

In [293]:
for index, row in stats_with_salary.iterrows():
  #if the player was traded and the row does not have team = TOT (the players total season stats), we delete the row
  if stats_with_salary.at[index,'Player'] in traded_players and stats_with_salary.at[index,'Team'] != 'TOT':
    stats_with_salary.drop(labels = index, axis = 0, inplace = True)
stats_cleaned = stats_with_salary.reset_index(drop = 'True')

In [294]:
stats_cleaned.shape

(393, 50)

In [295]:
#examine the value counts by position throughout the league
print(stats_cleaned['Position'].value_counts())

SG       100
PF        80
SF        71
C         67
PG        66
SG-SF      2
SG-PG      2
SF-SG      2
PG-SG      1
C-PF       1
PF-C       1
Name: Position, dtype: int64

In [296]:
#because very few players have multiple positions in the dataset, we will instead cut down to the primary position (first position given)
#use this loop to get just the primary position
for index, row in stats_cleaned.iterrows():
  pos = stats_cleaned.at[index,'Position']
  if len(pos) > 2:
    if pos[0] == 'C':
      new_pos = 'C'
    else:
      new_pos = pos[0:2]
    stats_cleaned.at[index,'Position'] = new_pos

In [297]:
print(stats_cleaned['Position'].value_counts())

SG    104
PF     81
SF     73
C      68
PG     67
Name: Position, dtype: int64

In [300]:
stats_cleaned.head(5)

,Player,Position,Age,Team,G,GS,MP,FG,FGA,FG%,...,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Salary
0,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,0.439,...,18.5,0.4,2.1,2.5,0.070,-2.0,-0.6,-2.6,-0.2,2.840160
1,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,0.547,...,12.0,3.8,3.0,6.8,0.163,1.0,1.0,2.0,2.0,17.926829
2,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,0.557,...,25.0,3.6,3.5,7.2,0.188,1.7,2.1,3.8,2.7,30.351780
3,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,0.402,...,18.4,-0.1,0.4,0.3,0.044,-4.2,-1.5,-5.7,-0.3,2.094120
4,Nickeil Alexander-Walker,SG,23,TOT,65,21,22.6,3.9,10.5,0.372,...,24.1,-1.1,1.1,0.1,0.003,-1.8,-1.1,-2.9,-0.3,5.009633

In [302]:
stats_cleaned.to_csv('NBA_2021-2022_Stats_Clean.csv', index = False)